/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: transparent url('../images/radio-black.png') 0 1px no-repeat;
	display:inline-block;
}

.ez-radio {
	background: transparent url('../images/radio-black.png') 0 1px no-repeat;
	display:inline-block;
}

.ez-checkbox input:hover {cursor:pointer;}
.ez-radio input:hover {cursor:pointer;}

.ez-checked { background-position: 0 -39px; }
.ez-selected { background-position: 0 -39px; }

.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }

.ez-checkbox input[type="checkbox"] {height:30px!important; width:30px!important;}