/*
::Table Of Content

1.) @FontFace Style
2.) Global TypoGraphy
3.) Global Form Elements
4.) Global Button And Links
5.) Site Wide Content
6.) Header Section
-------------------------------------*/

/*
1a.) Alerts
-------------------------------------*/

.errorList {
	background-color: #bae100;
	padding: 3px;
	margin-bottom: 20px;
	padding: 20px;
}
.errorList ul {
	list-style-type: none;
	list-style-position: inside;
	padding-left:2%;
}
.errorList ul li {
	list-style-type: none;
	list-style-position: inside;
	color: #000;
	margin-bottom: 5px;
	font-size: 13px;
}
.alert {
	display: block;
	background: #c3e04b;
	padding: 10px;
	font-size: 14px;
	line-height: 1.2;
	color: #48560e;
	text-align: justify;
	margin-top:20px;
	margin-bottom: 30px;
}
.alert strong {
	color: #48560e;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
}
.alert a {
	text-decoration: underline;
}

/* 
1b.) Sponsored listing
-------------------------------------*/
.sponsored-listing h3 {margin-bottom:0;}
.sponsored-listing .featured-listing {margin-top:0;}


/*
2.) Global TypoGraphy
-------------------------------------*/

h1, h2, h3, h4 {
	color: rgb(98, 97, 97);
	font-weight: bold;
}
h1, h2 {
	font-size: 2.4em;
	line-height: 1.2em;
}
h3 {
	font-size: 1.6em;
	line-height: 1.3em;
	margin-bottom: 0.3em
}
p {
	font-size: 1.4em;
	line-height: 1.4em;
}
.floatRight {float:right;}
.floatLeft {float:left;}

/*
3.) Global Form Elements
-------------------------------------*/
label {
	display: block;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2;
	width: 35%;
}
.btn {
	position: relative;
	display: inline-block;
 *display: inline;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px;
	text-transform: uppercase;
	text-shadow: 0 -2px 1px #6F736F;
	font-weight: bold;
	border: none;
	box-shadow: inset 0 1px 1px #afb6af;
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.24);
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.24);
	box-shadow: 2px 3px 5px rgba(0,0,0,.24);
	color: #fff;
	height: 40px;
	padding: 11px 20px;
	margin-bottom: 0;
 *margin-left: .3em;
	font-size: 14px;
	line-height: 1.2em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
 *border: 0;
	background: #969b96;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#969b96), to(#727472));
	background: -webkit-linear-gradient(#969b96, #727472);
	background: -moz-linear-gradient(#969b96, #727472);
	background: -ms-linear-gradient(#969b96, #727472);
	background: -o-linear-gradient(#969b96, #727472);
	background: linear-gradient(#969b96, #727472);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969b96', endColorstr='#727472', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
 *zoom: 1;
	text-decoration: none!important;
}
a.btn {height:auto!important; padding-top:12px!important; padding-bottom:12px!important;}
.btn.small {
}
.btn.search {
	padding: 0 11px;
	font-size: 10px;
	height: 30px;
	margin-top: -6px;
}
.btn.mini {
}
.btn.green, .search-directory .listed {
	background: #83a300;
	background: -moz-linear-gradient(bottom, #83a300 0%, #abd300 100%);
	background: -o-linear-gradient(bottom, #83a300 0%, #abd300 100%);
	background: -webkit-linear-gradient(bottom, #83a300 0%, #abd300 100%);
	background: linear-gradient(bottom, #83a300 0%, #abd300 100%);/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969b96', endColorstr='#85a400', GradientType=0);	 */
}
.btn.icon {
	padding: 11px 35px 11px 20px
}
.btn.icon i {
	background: url(../images/sprite.png) no-repeat;
	background-position: -125px -56px;
	width: 8px;
	height: 12px;
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	bottom: 0;
	margin: -6px 0 0 0;
	cursor: pointer;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
}
.btn, input[type="submit"], input[type="button"], .add-box button[type="button"], .add-listing-tags .next-prev button[type="button"].btn, .add-listing-tags .next-prev button[type="button"]:hover, .add-listing-extras .next-prev button[type="button"].btn, .add-listing-extras .next-prev button[type="button"]:hover, .add-listing-payment .code-verification button[type="button"] {
}
button[type="button"] {
/*
	border: none;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 -2px 1px #6F736F;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px;
	color: #fff;
	height: 40px;
	padding-right: 35px;
	position: relative;
	cursor: pointer;
	box-shadow: 2px 2px 4px #afafaf;
	*/
}
button[type="button"] i, .add-listing-description li.logo-optional a.btn.popup-modal i, .add-listing-description li.logo-photo a.btn.popup-modal i {
/*
	background: url(../images/sprite.png) no-repeat;
	background-position: -125px -56px;
	width: 8px;
	height: 12px;
	display: block;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	cursor: pointer;
	*/
}
.btn:hover, input[type="submit"]:hover, .free .featured-list-container .btn, button[type="button"], .add-listing-tags .next-prev button[type="button"].btn:hover, .add-listing-extras .next-prev button[type="button"].btn:hover, .add-listing-payment .code-verification button[type="button"]:hover, .add-listing-tags button[type="button"]:hover, .add-listing-extras button[type="button"]:hover, .search-directory .listed, .add-listing-description li.logo-optional a.btn.popup-modal, .add-listing-description li.logo-photo a.btn.popup-modal {
/*
	background: #a9d100;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a9d100), to(#84a200));
	background: -webkit-linear-gradient(#a9d100, #84a200);
	background: -moz-linear-gradient(#a9d100, #84a200);
	background: -ms-linear-gradient(#a9d100, #84a200);
	background: -o-linear-gradient(#a9d100, #84a200);
	background: linear-gradient(#a9d100, #84a200);
	-pie-background: linear-gradient(#a9d100, #84a200);
	border: none;
	box-shadow: 2px 2px 4px #afafaf;
	*/
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
	background: #fff;
	border: 2px solid #d2e5f4!important;
	font-size: 14px;
	line-height: 23px;
	color: #242424;
	height: 32px;
	width: 63.3%;
	padding: 0 5px;
}
select {
	border: 2px solid #caddeb;
	padding: 4px 15px;
	color: #242424;
	font-weight: 400;
	font-size: 14px;
}
input[type="text"]:focus {
	box-shadow: 0 0 5px #2f95bf;
}
li input[type="text"], input[type="email"], input[type="password"] {
	float: right;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/*
4.) Global Button And Links
-------------------------------------*/

/*
5.) Site Wide Content
-------------------------------------*/
.page {
	max-width: 940px;
	margin: 0 auto;
	width: 100%;
}
.wrapper {
	background: url(../images/bg-content.png) repeat;
	width: 100%;
}
.right {
	float: right;
}
/*
6.) Header Section
-------------------------------------*/
header {
	background: #f9f8f8;
	padding-top: 10px;
	padding-bottom: 20px;
}
.logo {
	display: block;
	float: left;
	margin-left: 1px;
	padding-top: 19px;
}
.logIn-box {
	float: right;
	width: 50%;
	padding-right: 18px;
}
.logIn-box a {
	font-size: 1.5em;
	line-height: 1.2;
	color: #228fbb;
	font-weight: bold;
	text-align: right;
	display: block;
}
.search-directory {
	padding-top: 13px;
	float: right;
	width: 100%;
}
.search-directory span {
	font-size: 2em;
	line-height: 1.2;
	font-weight: bold;
	display: block;
	padding-bottom: 7px;
}
header input[type="text"] {
	border: 1px solid #a6a6a6!important;
	height: 30px;
	width: 38%;
	padding-left: 5px;
	margin-right: 5px;
	box-shadow: inset 0px 1px 1px #e4e4e4;
}
header h1 {
	float: left;
}
header form {
/*margin-left: -10px;*/
}
header input[type="submit"] {
	padding-right: 8px;
}
/*
7.) Footer Section
-------------------------------------*/

footer {
	background: url(../images/bg-footer.png) repeat;
	border-bottom: 13px solid #d1d2d4;
	padding: 23px 0 0 0;
	position: relative;
}
footer h3 {
	color: #fff;
	padding-bottom: 6px;
}
footer .page {
	padding: 0 0 0 29px;
}
footer .btn/*, .featured-list-container .btn, .featured-list-container .btn:hover*/ {
	background: #8d8989;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8d8989), to(#6e6a6a));
	background: -webkit-linear-gradient(#8d8989, #6e6a6a);
	background: -moz-linear-gradient(#8d8989, #6e6a6a);
	background: -ms-linear-gradient(#8d8989, #6e6a6a);
	background: -o-linear-gradient(#8d8989, #6e6a6a);
	background: linear-gradient(#8d8989, #6e6a6a);
	float: left;
	padding: 10px 14px;
	display: block;
	height: 40px;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: bold;
	padding-right: 35px;
}
footer .btn:hover {
	background-color: #454545;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzYTMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FiZDMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #83a300 0%, #abd300 100%);
	background-image: -o-linear-gradient(bottom, #83a300 0%, #abd300 100%);
	background-image: -webkit-linear-gradient(bottom, #83a300 0%, #abd300 100%);
	background-image: linear-gradient(bottom, #83a300 0%, #abd300 100%);/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969b96', endColorstr='#85a400', GradientType=0);	 */
}
.get-listed {
	width: 28%;
	float: left;
	margin-right: 4%;
}
footer p {
	line-height: 1.2;
	padding-bottom: 14px;
	font-size: 1.3em;
}
footer .btn i, .featured-list-container .btn i {
	margin-left: 27px;
	margin-top: 3px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -125px -56px;
	width: 9px;
	height: 12px;
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.copyright-section span {
	font-size: 1.3em;
	line-height: 1.2;
	color: #626161;
	display: block;
	float: left;
}
.copyright-section span i {
	background: url(../images/sprite.png) no-repeat;
	background-position: -95px -78px;
	display: block;
	width: 144px;
	height: 68px;
	float: left;
	margin-top: -42px;
}
.copyright-section {
	padding-top: 78px;
}
.copyright-section span a {
	font-size: 13px;
	line-height: 1.2;
	color: #626161;
}
.copyright-section ul {
	float: right;
	text-align: center;
	width: 51.5%;
	margin-top: -21px;
}
.copyright-section li {
	display: inline-block;
	margin-left: 4px;
}
.copyright-section li:first-child {
	margin-left: 0;
}
.copyright-section li a {
	background: url(../images/sprite.png) no-repeat;
	width: 41px;
	height: 41px;
	display: block;
	background-position: -83px -170px;
}
.copyright-section li a:hover {
	background-position: -82px -1px;
}
.copyright-section li.facebook a {
	background-position: -132px -170px;
}
.copyright-section li.facebook a:hover {
	background-position: -130px -1px;
}
.copyright-section li.google a {
	background-position: -179px -170px;
}
.copyright-section li.google a:hover {
	background-position: -175px -1px;
}
.copyright-section li.linkedIn a {
	background-position: -226px -170px;
}
.copyright-section li.linkedIn a:hover {
	background-position: -220px -1px;
}
footer .btn:hover {
	text-decoration: none;
}
footer .page {
	position: relative;
}
.copyright-section span {
	position: absolute;
	bottom: 0;
	left: 29px;
	width: 50%;
}
/*
.featured-list-container .btn:hover {
	height: 55px;
	box-shadow: none;
	border: 1px solid #706c6c;
}
*/

/*
7.) Iframes
-------------------------------------*/
.iframe {
	color: #626161;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}
.iframe .iframeClose {
	margin-top: 40px;
}
.iframe h3 {
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 0;
}
.iframe.sendEmail .submessage {font-size:13px; line-height:16px;}
.iframe.sendEmail input[type="text"], .iframe.sendEmail textarea {margin-bottom:20px;} 
.iframe.sendEmail label {font-weight:100;}
.iframe.sendEmail .btn {margin:15px 0;}

@media (max-width:480px) {
	.multipicuploader {font-size:15px;}
	.multipicuploader th {display:none;}
	.multipicuploader tr td {float:left; border:none;}
	.multipicuploader tr {display:block; border-bottom:1px #BABABA solid; float:left; padding-bottom:10px;}
	
	.iframe.sendEmail label {float:none; width:100%; margin-bottom:10px;}
	.iframe.sendEmail input[type="text"], .iframe.sendEmail textarea {float:none; width:100%;}
}
