.page {width:940px!important;}
.nav-bar {display:none!important;}

.btn.search {margin-top:-3px; height:32px;}

footer .btn{
	height: 20px;
}
.listing-box, .tweets, .latest-review, .featured-article, .featured-listing, .sponsored-listing, .article-category, .terms, .uk-listing, .report-listing, .add-tags, .payment-details, .dashboard-box, .account-detail-box, .payment-options, .payment-details, .dashboard-listings li a.selected, .listing-box, .tweets, .latest-review, .featured-article, .sponsored-listing, .article-category, .terms, .uk-listing, .contact-us, .review-one, .leave-review, #ukDirectoryMain, #localSection{
	background: #fff;
}
#ukDirectoryMain{
	background: #fff;
}
.home .social-box {background-color:#fff;}
.mainNavTabs ul li a{
	background: #8A8A8A;
}
.mainNavTabs ul li a.selected, .mainNavTabs ul li h1{
	background: #fff;
}
header input[type="text"]{
	width: 37%;
}

.lising-page #localSection, .lising-page .mainNavTabs ul li a.selected{
	background: #f9f9f9;
	
}
.local-town-listing #localSection.local-listing, .local-town-listing .mainNavTabs ul li a.selected{
	background: #f9f8f8;
}
.local-towns #localSection, .local-towns .mainNavTabs ul li a.selected{
	background: #faf9f9;
	
}
label{width: 33%;
padding-top: 10px;
display: block;
float: left;
}

input[type="text"], input[type="email"], input[type="password"] {vertical-align:baseline; height:20px!important; line-height: normal!important; margin-top:0!important; padding: 5px; margin-top: 3px;}
select {padding-left:5px; padding-right:5px;}

.social-url {width:300px;}

.product-types {width:28%!important; margin-left:10px;}
.product-types.free {margin-left:0;}

.report-listing li.info-report label {font-size:12px;}

.report-listing li label {width:17%;}
.report-listing li input[type=text], .report-listing li input[type=email], .report-listing li textarea {float:left;}