/* Mobile */
@media (max-width:767px)  { 
	body {background-color:#555;}

	.wrapper, .nav-bar {
		-webkit-transition:all 0.1s ease-in-out;
		-moz-transition:all 0.1s ease-in-out;
		-o-transition:all 0.1s ease-in-out;
		transition:all 0.1s ease-in-out;
	}
	.btn {font-size:12px;}
	.btn.icon {padding-left: 14px; padding-right:25px;}

	header .i-header > span { width:52%;display:block; }
	header .i-header > span a.logo { width:100%;padding-top:0; }
	header .page { padding:0 10px; }
	.logIn-box { width:100%;padding-right:0; }
	.logIn-box .searchFormContainer { display:none; }
	.logIn-box .searchFormContainer form { padding-bottom:20px; }
	.logIn-box .searchFormContainer.home { display:block; }
	.search-login a { background:url(../images/sprite.png) no-repeat;background-position:-280px -109px;width:30px;height:30px;display:block;float:right;margin-left:16px; }
	.search-login { display:block;padding-top:10px; }
	.search-login a.login-icon { background-position:-312px -109px; }
	.search-directory span { font-size:14px;line-height:1.2;font-weight:700; }
	.logIn-box .login-section, .logIn-box a { display:none; }
	header form { width:73%;padding-top:10px; }
	header input[type="text"] { width:100%;float:none;margin-bottom:10px; }
	header input[type="submit"] { width:60px;height:60px!important;display:block;background:url(../images/sprite.png) no-repeat;background-position:-324px -1px;border:none;box-shadow:none;position:absolute;right:0;top:37px;text-indent:-9999px;margin-top:10px!important;cursor:pointer; }
	header input[type="submit"]:hover { background:url(../images/sprite.png) no-repeat;background-position:-324px -1px;border:none; }
	header .i-header { background:#F9F8F8;margin:-10px -10px 0;padding:10px; }
	header { background:none;padding-bottom:10px; }
	.sidebar,.banner { display:none; }
	.main-content,.anglia-box { width:100%; }
	.home .page { padding:0 10px; }
	.search-directory { position:relative; }
	.search-directory .listed { display:block; }
	.mainNavTabs ul li a, .mainNavTabs ul li h1 { font-size:13px;line-height:1.2em;color:#fff;text-transform:capitalize;font-weight:400;padding:8px 5px;margin-right:0; }
	.mainNavTabs ul li a:first-child, .mainNavTabs ul li h1:first-child { margin-left:0; }
	.mainNavTabs ul li { margin-left:2px; }
	.get-listed { width:100%;padding-bottom:10px;padding-top:10px; }
	.get-listed:first-child { padding-top:0; }
	.copyright-section { padding-top:43px;position:relative; }
	.copyright-section span { position:absolute;bottom:-86px;left:0; }
	.copyright-section ul { width:100%;margin-top:-29px; }
	footer { padding-bottom:86px;padding-top:20px; }
	.copyright-section li a { background-position:-83px -1px;width:43px;height:45px; }
	.copyright-section li.facebook a { background-position:-129px -1px; }
	.copyright-section li.linkedIn a { background-position:-220px 0; }
	.copyright-section li a:hover { background-position:-83px -170px; }
	.copyright-section li.facebook a:hover { background-position:-132px -170px; }
	.copyright-section li.google a:hover { background-position:-179px -170px; }
	.copyright-section li.linkedIn a:hover { background-position:-226px -170px; }
	.copyright-section li { margin-left:13%; }
	.copyright-section span { width:100%;min-height:-99px;display:block;padding-top:18px; }
	footer p { padding-bottom:10px; }
	.copyright-section span i { margin-top:-10px;margin-right:10px; }
	.home .categoryBox h2 a { color:#000;font-size:14px;line-height:1.2;white-space:nowrap; }
	#ukDirectoryMain,#localSection { padding:20px 10px 10px; }
	.categoryBox { border-bottom:1px solid #bebebf;margin-bottom:10px; }
	.categoryBox ul {padding-bottom:0!important;}
	.categoryBox .moreCategory {padding-bottom:10px;}
	.category-container .row:last-child .categoryBox.last { border-bottom:none; }
	.category-container .row:last-child .categoryBox.last { margin-bottom:0; }
	.categoryBox .categoryHeader { margin-bottom:15px; }
	.content,.category-container { padding-top:0; }
	.featured-tab { display:block; }
	/*listing page css starts here*/.listing .topnav li li { float:none;margin-bottom:2px; }
	.listing .page { padding:0 10px; }
	.listing .page .page { padding:0; }
	.listing h2,.directory-listing,.listing .directory-listing-box { padding-bottom:10px; }
	.directory-listing { margin-bottom:10px;padding-left:10px;padding-right:10px;padding-bottom:10px;position:relative; }
	.directory-listing img,.search-page .listing-description img { display:block;padding-bottom:10px; }
	h3 small,.search-page h3 span { display:block;font-weight:400;font-size:13px;line-height:1.2; }
	.listing h3,.search-page h3 { clear:both;font-size:14px;line-height:1.2; }
	.listing p { padding-top:0;padding-bottom:10px; }
	.business-listings h2 {display:none;}
	.business-description { display:block;padding-top:10px;padding-bottom:10px; }
	.directory-listing .business-description.open i,.filter.open i { background:url(../images/open-closed.png) no-repeat right;background-position:0 0; }
	.open .up,.close .down { right:-10px; }
	
	.directory-listing .business-description i,
	.filter i,
	.profile-page .about-organisation h3 i,
	.profile-page .organisation-products h3 i,
	.customer-reviews h2 i,
	.gallery-box h2.iheading i,	
	.opening-box .headertitle i { background:url(../images/open-closed.png) no-repeat right; background-position:-23px 0; width:23px; height:23px; display:inline-block; margin-left:10px; margin-bottom:-8px; position:relative; right:auto; top:-2px; }
	
	.directory-listing img {position:relative; left:auto; top:auto;}
	.sponsored-listing { display:none; }
	.paging {padding-bottom:0; }
	.current-section span {color:#85a500;font-size:12px;line-height:1.2;font-weight:700;margin-right:10px; }
	.current-section strong {font-size:12px; color:#85a500;}
	.current-section strong.conference { display:block;font-weight:400;color:#85a500;display:inline-block;font-size:14px;line-height:1.2; }
	.open .up,.listing p,.travel .breadcrumb,.search-page .listing-description p { display:none; }
	.localTown { padding-top:10px; }
	.filter { display:block;padding-top:6px; }
	.topnav,.map { display:none; }
	.listing .category-container { padding-bottom:0; }
	.listing .topnav li li a { font-size:14px;line-height:1.2;font-weight:400; }
	
	.listing .categoryListContainer, .hide, .show {display:none;}
	.listing ul.categoryList {float:none; width:100%}
	.listing ul.categoryList.col2, .listing ul.categoryList.col3 {margin-top:0;}
	.listing ul.categoryList li {margin-bottom:8px;}
	.listing ul.categoryList li a {font-size:13px;}
	
	.mainNavTabs ul li:first-child { margin-left:0; }
	.listing .content,.anglia { padding-bottom:10px; }
	.listing .get-listed p { display:block; }
	a.more { display:block; }
	footer .page { padding:0 10px; }
	.content .page { padding:0 10px; }
	.lising-page #localSection { padding-bottom:0; }
	#localSection div.anglia-box div.anglia:last-child { border-bottom:none; }
	.lising-page .content,.search-page .content { padding-bottom:10px; }
	.directory-listing i { display:block;background:url(../images/sprite.png) no-repeat;background-position:-283px -161px;position:absolute;right:0;top:48px;width:46px;height:47px; }
	
	/*local listing page css starts here*/
	.anglia h3 { color:#000; }
	.anglia-box a { font-size:14px;line-height:1.2;color:#000; }
	.anglia-box a.more { color:#0e7597; }
	
	/*local towns css starts here*/
	.local-towns #localSection { padding:10px; }
	.local-listing-section li { width:100%;float:none; }
	#localSection.local-listing h3 { font-size:14px;line-height:1.2;color:#2d2d2d; }
	.local-towns .breadcrumb li { font-size:14px;line-height:1.2;color:#2d2d2d;font-weight:400; }
	.local-towns .breadcrumb li a { font-weight:400;color:#2d2d2d; }
	.local-listing-section a { font-weight:400;font-size:13px;line-height:1.2;color:#2d2d2d; }
	.local-listing-section li { padding-bottom:10px; }
	.local-towns .content { padding-bottom:10px; }
	.local-towns .local-listing-section { padding-top:10px; }
	header input[type="text"]:nth-child(2) { margin-bottom:0; }
	.local-town-listing .categoryBox .moreCategory { margin-top:10px;margin-bottom:10px; }
	.local-town-listing #localSection.local-listing h3 span { margin-right:10px; }
	.local-town-listing #localSection.local-listing { padding:10px; }
	.local-town-listing .category-listing { padding-top:10px; }
	.local-town-listing .categoryBox .categoryHeader a { color:#2d2d2d;white-space:nowrap; }
	.local-town-listing .categoryBox .categoryHeader { padding-left:40px; }
	.category-listing .row:last-child .categoryBox.last { margin-bottom:0;border-bottom:none; }
	.local-town-listing #localSection.local-listing,.search-page .result-title { padding-bottom:0; }
	.local-town-listing .content { padding-bottom:10px; }
	/*
	.paging li:nth-child(6),.paging li:nth-child(7),.paging li:nth-child(8),.paging li:nth-child(9),.paging li:nth-child(10) { display:none; }
	*/
	.search-page .listing-description p { padding-bottom:10px; }
	.search-page .result-title { padding-top:0; }
	.search-page .page .page { padding:0; }
	
	/* Local location map */
	.ukmapLocations {width:100%; float:none;}
	.ukmap {width:100%; float:none; margin-top:30px; margin-bottom:20px;}
	.ukmapLocationsItemMore {display:block;}

	
	/*profile page css starts here*/
	.breadcrumb li a { display:none; }
	.breadcrumb li.back a { display:block;color:#1a7490;padding-right:10px; }
	.breadcrumb li:nth-child(1),.breadcrumb li:nth-child(2) { display:none; }
	.breadcrumb li.back { display:block;border-right:1px solid #8eac10;margin-right:10px; }
	
	.profile-page .main-content {margin-bottom:0;}
	
	.local-town-listing #localSection.local-listing h3 span {margin-right:5px;}
	.local-listing .breadcrumb {display:none;}
	
	
	.organisation-box h2 { font-size:16px;line-height:1.2;clear:both; }
	.profile-page #localSection.local-listing { padding:10px; }
	.profile-page .breadcrumb { padding-top:0; }
	
	.companyheadline { padding-top:10px;border-bottom:none; }
	.companyheadline h1.title, .companyheadline h1.title a {font-size:20px;}
	.companyheadline .companyImage, .companyheadline .companyDetails {width:100%; float:none;}
	.companyheadline address{font-size:14px;line-height:1.4;padding-right:48%;display:block}
	.companyheadline img { padding-bottom:10px; }
	.companyheadline span,.organisation-products,.about-organisation p { padding-top:10px; }
	.companyheadline .companyRating {padding-top:30px;}
	.companyheadline a.report { display:none; }
	
	.visit-site,.customer-reviews h2 { padding-top:10px;padding-bottom:10px; }
	.contact-info strong { padding-bottom:10px; }
	#localSection .about-organisation h3,#localSection .organisation-products h3 { display:block;font-size:14px;line-height:1.2;border-bottom:none;padding-bottom:0;cursor:pointer; }
	.social-like,.reviewed { display:none; }
	.profile-page .about-organisation h3 i,.profile-page .organisation-products h3 i { margin-left:0;margin-right:10px; }
	.products-list { padding-top:15px; }
	.customer-reviews { background:rgba(255,255,255,0.8);margin-top:10px; }
	.customer-reviews .reviewContent {display:none;}
	.customer-reviews h2 {color:#000;font-size:14px;line-height:1.2; }
	.review-one { padding:0 10px;margin-top:0; }
	.review-one img { display:none; }
	.review-description { width:100%;border-bottom:1px solid #c8c8c8;padding-bottom:10px; }
	.customer-reviews .review-one:nth-child(2) { display:none; }
	.review-description span { margin-top:0; }
	.review-description small { padding-top:10px; }
	.review-description p { padding-top:10px; }
	.leave-review { margin-top:0;padding-top:0;padding-bottom:10px; }
	.review-input,.review-textarea { width:100%; }
	.leave-review-content-box .review-input input[type="text"],.leave-review-content-box .review-input input[type="email"] { font-weight:400; }
	.customer-reviews .leave-rating h2 { padding-left:0;padding-bottom:0; }
	.leave-rating strong { padding-top:10px; }
	.leave-rating { padding-right:0;padding-bottom:40px; }
	.leave-rating button[type="button"] { width:50%; }
	.leave-rating button[type="button"] i { right:10px; }
	
	#leaveareplybox td {display:block; width:100%;}
	#leaveareplybox textarea {width:100%;}
	#leaveareplybox .btn {margin-top:30px; float:none!important;}
	
	.profile-page .sidebar { display:block;width:100%;margin-left:0}
	.profile-page .sidebar .listing-box {padding:0; margin-top:0; background-color:transparent;}	
	
	.features h2.iheading { display:none; }
	.features h2 { display:none; }
	
	/*dashboard page css starts here*/
	.dashboard-links { display:none; }
	.dashboard-box { padding:10px;font-size:12px;line-height:1.2;padding-top:11px; }
	.dashboard-box h3,.dashboard-box span { padding-top:0;padding-bottom:10px; }
	.dashboard-box li span { display:block;font-weight:700; }
	.dashboard-box ul { padding-bottom:0; }
	.dashboard-box span,.dashboard-box li { font-size:12px;line-height:1.2; }
	.dashboard-box li span { font-size:14px;line-height:1.2; }
	.dashboard-box > a { font-size:12px;line-height:1.2; }
	.dashboard-box strong + span { display:inline-block; }
	.dashboard-box strong { display:block; }
	
	/*account details page css starts here*/
	.detail-box h3 { font-size:16px;line-height:1.2;padding-bottom:0; }
	.detail-box li label,.detail-box li input { width:100%;margin-bottom:10px; }
	.detail-box li input[type="email"] { padding-left:0; }
	.detail-box li { padding-bottom:0; }
	.dashboard-box .detail-box.password h3 { padding-top:10px; }
	.detail-box li button[type="button"] {float:left; }
	.detail-box li:nth-child(3) label:first-child { padding-bottom:0; }
	.detail-box.affiliate-detail { margin-top:30px; }
	
	/*contact page css starts here*/
	.contact .uk-listing { padding:10px; }
	.login .uk-listing h2,.forgotten-password-page .uk-listing h2,.contact h2 { font-size:16px;line-height:1.2;padding-bottom:10px; }
	.contact address,.contact address span,.contact span { font-size:14px;line-height:1.2; }
	.contact .write-us { padding-top:10px; }
	.contact label,.contact .uk-listing li input[type="text"],.contact .uk-listing li textarea, .contact-us input[type="text"], .contact-us textarea  { width:100%; }
	.uk-listing li,.contact label { padding-right:0;padding-bottom:10px; }
	.contact .uk-listing li button[type="button"] { margin-top:0;/*width:40%;*/float:left; }
	.contact .uk-listing li:last-child { padding-bottom:0; }
	/*.alerts { display:none; }*/
	.login .uk-listing { padding:10px; }
	.login .uk-listing ul { padding:0; }
	.login .uk-listing li label{ width:100%; }
	.login .uk-listing li input { width:100%; }
	.login .uk-listing li.password-forgotten span { padding-left:0;display:block;width:100%;padding-bottom:10px; }
	.login .uk-listing li button[type="button"] {float:left; }
	.login .uk-listing li.password-forgotten { padding-top:0;padding-bottom:0; }
	.login .uk-listing li label { padding-bottom:10px; }
	.forgotten-password-page .uk-listing h2.iforgot { display:block; }
	.forgotten-password-page .uk-listing h2 { display:none; }
	.forgotten-password-page .uk-listing { padding:10px; }
	.forgotten-password-page .uk-listing ul { padding-top:10px; }
	.forgotten-password-page .uk-listing li label { padding-bottom:10px; }
	.forgotten-password-page .uk-listing li input[type="text"] { width:100%; }
	.forgotten-password-page .uk-listing li { padding-bottom:0; }
	.forgotten-password-page .uk-listing li button[type="button"] { margin-top:10px; margin-left:0; top:auto;}
	.forgotten-password-page .content,.login .content { padding-bottom:10px; }
	
	/*terms & conditions css starts here*/
	.term-condition .terms h2 { font-size:18px;line-height:1.2;padding-bottom:10px; }
	.term-condition .terms { padding:10px; }
	.term-condition .terms strong,.term-condition .terms li { padding-top:10px; }
	.term-condition .terms p { padding-top:10px; }
	.terms li h4 { display:inline; }
	.term-condition .main-content { padding-bottom:0; }
	.term-condition .content { padding-bottom:10px; }
	
	/*article-archive page css starts here*/
	.article-archive #ukDirectoryMain h2 { display:none; }
	.article-archive #ukDirectoryMain .iselect,.article-page #ukDirectoryMain .iselect { display:block; }
	.article-archive #ukDirectoryMain .iselect .selectBox-dropdown,.article-page #ukDirectoryMain .iselect .selectBox-dropdown { width:100%!important; }
	.article-archive .popular-business { margin-top:2px; }
	.popular-business .featured-listing h3 { font-size:14px;line-height:1.2;color:#3e3f3e; }
	.popular-business .featured-listing { padding-top:10px;padding-bottom:10px; }
	.popular-business .featured-listing p { padding-bottom:10px; }
	.article-archive .content { padding-bottom:10px; }
	.iselect { display:block; }
	.article-breadcrumb { margin-top:10px;display:none; }
	
	/*article page css starts here*/
	.article-page .article-container h3,.article-page .article-container p { padding-top:10px;color:#3e3f3e; }
	.article-page .article-container span { display:none; }
	.article-page .article-container p { font-size:14px;line-height:1.4; }
	.article-page .article-container h3 { font-size:16px;line-height:1.2; }
	.article-page .article-container blockquote { font-size:14px;line-height:1.2; }
	.article-page .article-container { padding-bottom:0; }
	
	/*report listing page css starts here*/
	.report-listing { padding:10px; }
	.report-listing strong { padding-top:0;padding-bottom:10px; }
	.report-listing li label { white-space:normal;width:100%;padding-bottom:10px;font-weight:700;font-size:14px;line-height:1.2; }
	.report-listing li,.report-listing li.info-report { padding-top:0; }
	.report-listing li input[type="text"],.report-listing li input[type="email"],.report-listing li textarea { width:100%;margin-bottom:10px;margin-right:0; }
	.report-listing li.verification { margin-bottom:10px; }
	.verification-box {width:100%;}
	.verification-box td {display:block; width:100%;}
	.recaptchatable #recaptcha_response_field {width:80%!important;}
	.recaptcha_only_if_privacy {padding:10px!important; float:none!important; display:block!important; text-align:left!important;}
	
	/*add listing payment css starts here*/
	.steps { border:none;padding-bottom:10px; }
	.steps li.full:after { background:none; }
	.add-listing-extras .steps li.active:before,
	.add-listing-extras .steps li.active:after,
	.add-listing-payment .steps li.active:before,
	.add-listing-payment .steps li.active:after { background:none; }
	.steps li { float:none;padding-left:0;padding-bottom:3px;padding-left:25px; }
	.steps li:first-child { padding-left:0; }
	.steps li a { color:#333; }
	.steps li.full { background:url(../images/bg-tick.png) no-repeat;padding-left:25px; }
	.steps li.active { background:url(../images/bg-active-mobile-steps.png) no-repeat 5px center;padding-left:25px; }
	.steps li.active { color:#228fbb; }
	.steps ul { padding-top:0; }
	.add-listing-payment .alert { font-size:14px;line-height:1.2;color:#333;padding-right:41px;background:#abd300;margin:10px 0 0; }
	.offers .payment-details { padding:0;background:none;position:relative; }
	.payment-amount,.code-verification,.code-verification input[type="text"],.code-verification span.alert { width:100%; }
	.code-verification {margin-top:20px;}
	.payment-details .payment-amount { margin-top:0; padding-top:33px; }
	.payment-amount label { width:100%;padding-bottom:10px; }
	.payment-amount label input[type="checkbox"] { margin-right:10px; }
	.payment-amount label:nth-child(2) { padding-bottom:0; }
	.code-verification input[type="text"] { margin-top:0; }
	.code-verification span.alert { padding:10px; }
	.add-listing-payment .code-verification button[type="button"] { margin-top:10px; margin-right:0; }
	.i-code-heading { display:block; }
	.code-verification h2.i-code-heading { font-size:14px;line-height:1.2;padding-bottom:10px; }
	.code-verification .btn {position:relative; top:auto;}
	
	.add-listing-payment .offers .payment-details .online-payment { padding:10px;padding-top:20px; }
	.add-listing-payment .offers .payment-details .online-payment label { padding-top:20px; }
	.online-payment label input[type="checkbox"] { margin-right:10px; }
	.online-payment label img,.online-payment p { width:270px;}
	.online-payment p { padding-left:0;padding-top:0;width:100%; }
	.online-payment strong { left:0;top:71px; }
	.payment-details .online-payment strong { font-size:12px;line-height:1.2;padding-top:10px;padding-bottom:10px;position:relative;left:auto;top:auto;padding-left:0; }
	.add-listing-payment .offers .payment-details .online-payment.paypal label img { width:auto;float:left; }
	.add-listing-payment .offers .payment-details .online-payment.paypal label { padding-top:10px; }
	.add-listing-payment .next-prev { width:100%;text-align:center;padding-top:0;position:relative;padding-top:40px;padding-bottom:10px; }
	
	/*add listing extra css starts here*/
	.add-listing-extras .add-tags strong { font-size:14px;line-height:1.2;padding-top:0;padding-bottom:10px; }
	.add-listing-extras .business-association label { width:100%;padding-bottom:10px; }
	.add-listing-extras .business-association input[type="text"] { width:100%; }
	.add-listing-extras .add-tags { padding:10px; }
	.add-listing-extras .business-association a { padding-top:10px; }
	.add-listing-extras .business-association { padding-bottom:10px; }
	.add-listing-extras .offers div.next-prev { padding-top:0;background:none;width:100%; }
	.add-listing-extras .content { padding-bottom:10px; }
	
	/*add listing tags css starts here*/
	.add-listing-tags .steps li.active:after, .add-listing-tags .steps li.active:before { background:none; }
	.add-listing-tags .add-tags strong { padding-top:0;padding-bottom:10px; }
	.add-listing-tags .add-tags { padding:10px; }
	.add-listing-tags .add-box,.add-listing-tags .added-box-outer,.add-listing-tags .add-box label,.add-listing-tags .add-box input[type="text"],.add-listing-tags .added-box { width:100%;padding-bottom:10px; }
	.add-box input[type=text] {margin-left:0;}
	.add-listing-tags button[type="button"] { float:left;margin-top:10px; }
	.add-listing-tags .added-box { margin-right:0;padding:10px; }
	.add-listing-tags .next-prev { padding-top:0; }
	.add-listing-tags .next-prev button[type="button"] { float:right; }
	.add-listing-tags .next-prev a { padding-top:21px; }
	.add-listing-tags .added-box-outer { padding-bottom:0; }
	.add-listing-tags .content { padding-bottom:10px; }
	.add-listing-description .steps li.active:before,.add-listing-description .steps li.active:after { background:none; }
	.add-box {margin-bottom:20px;}
	.add-box .btn {margin-left:0!important; width:100px;}
	
	/*add listing description css starts here*/
	.add-listing-description .uk-listing { padding:10px; }
	.add-listing-description .uk-listing li label { display:inline; }
	.add-listing-description .uk-listing li input[type="text"] { margin-top:10px;width:100%; }
	.add-listing-description .uk-listing li p { font-size:12px;line-height:1.2;color:#8c8c8c; }
	.add-listing-description .uk-listing li p,.add-listing-description .uk-listing li span { padding-top:10px; }
	.add-listing-description .uk-listing li label.tick-box { padding-top:10px;padding-bottom:10px;display:inline-block; }
	.add-listing-description .uk-listing li .upload {display:block!important; width:150px; margin-top:10px;}
	.add-listing-description .uk-listing li button[type="button"] { margin-top:10px; margin-left:0; }
	.add-listing-description .uk-listing li .money-transfer label { display:inline-block; }
	.add-listing-description .uk-listing li .pay-customer label { padding-bottom:10px; }
	.add-listing-description .next-prev { width:100%; }
	.add-listing-description .uk-listing li .next-prev button[type="button"] { float:right;margin-top:0;margin-right:0; }
	.add-listing-description .uk-listing li .next-prev a { padding-top:13px;display:inline-block; }
	.add-listing-description .uk-listing li:last-child { padding-bottom:0; }
	.add-listing-description .content { padding-bottom:10px; }
	
	/*add listing add business css starts here*/
	.add-listing-add-business .steps li.active:before { background:none; }
	.add-listing-add-business .steps li.active:after { background:none; }
	.add-listing-add-business .offers .free { width:100%;padding:10px; }
	.quick-way { font-size:14px;line-height:1.2;/*color:#333;*/font-weight:700; width:100%; display:block; }
	.example-box strong { font-size:35px;line-height:1.2; }
	.example-box strong { font-size:20px;line-height:1.2; }
	.uk-business { display:inline-block;padding-top:10px;}
	.uk-business strong { margin-top:0;color:#626161; }
	.add-listing-add-business .example-box .quick-way strong,.add-listing-register .example-box .quick-way strong { font-size:35px;line-height:1.2; }
	.add-listing-add-business .example-box { padding-bottom:10px; }
	.add-listing-add-business .offers .main-content.right { margin-top:10px; }
	.add-listing-add-business .offers .main-content.right .uk-listing h2 { font-size:16px;line-height:1.2;padding-bottom:10px; }
	.add-listing-add-business .offers .main-content.right .uk-listing { padding:10px; }
	.add-listing-add-business .main-content.right .uk-listing li label,.add-listing-add-business .main-content.right .uk-listing li input, .add-listing-add-business .main-content.right .uk-listing li select, .free-add-listing label, .free-add-listing select, .free-add-listing input { width:100%; }
	.add-listing-add-business .main-content.right .uk-listing li label, .free-add-listing label { padding-bottom:10px; }
	.free-add-listing li .selectBox-dropdown,.add-listing-add-business li .selectBox-dropdown { width:100%!important; }
	.free-add-listing .product-types {width:100%;}
	.free-add-listing .uk-business {padding-top:5px;}
	.free-add-listing .featured-list-container {padding-top:8px;}
	.uk-listing li.twitter span { display:none; }
	.add-listing-add-business .uk-listing li span.forgotten label input[type="checkbox"] { display:inline;width:auto; }
	.add-listing-add-business .uk-listing li span.forgotten { padding-top:0; }
	.add-listing-add-business .uk-listing li button[type="button"] { margin-top:0;margin-right:0;}
	.add-listing-add-business .uk-listing li:last-child { padding-bottom:0; }
	.add-listing-add-business .content { padding-bottom:10px; }
	.add-listing-add-business .featured-list-container { padding-top:10px; }
	.i-see-features {display:block; padding-bottom:10px; height:31px; padding-top:8px; top:-3px;}
	.i-see-features i,.add-listing-register .uk-listing h2 i { position:relative; top:-2px; background:url(../images/open-closed.png) no-repeat;background-position:-23px 0;width:23px;height:23px;display:block;float:left;margin-right:5px; }
	.featured-list-container > ul {margin-top:20px; display:none;}
	.i-see-features.open i { background-position:0 0; }
	.add-listing-register .free { width:100%;padding:10px 10px 20px 10px; }
	.add-listing-register .uk-listing li label { width:100%;padding-bottom:10px; }
	.add-listing-register .uk-listing li input { width:100%; }
	.add-listing-register .uk-listing { padding:10px;padding-bottom:0; }
	.add-listing-register .uk-listing h2 { padding-bottom:10px; }
	.add-listing-register .uk-listing li span { padding-left:0;padding-top:0;padding-bottom:10px; }
	.add-listing-register .uk-listing li button[type="button"] {float:left; margin-bottom:10px; }
	.add-listing-register .uk-listing li:last-child { padding-bottom:0; }
	.add-listing-register .offers .main-content.right { margin-top:10px; }
	.add-listing-register .uk-listing h2 { font-size:14px;line-height:1.2;cursor:pointer; }
	.add-listing-register .uk-listing h2 i { display:block;float:right; }
	.add-listing-register .uk-listing ul { display:none; }
	.add-listing-register .uk-listing h2.open i { background-position:0 0; }
	.add-listing-register .register-uk-directory li span.forgotten label { width:100%; }
	.add-listing-register .register-uk-directory li span.forgotten input { width:auto; }
	.register-uk-directory { margin-top:10px; }
	.add-listing-register .content { padding-bottom:10px; }
	.example-box .uk-business strong { font-size:20px;line-height:1.2;margin-top:-4px; }
	.add-listing-register .example-box span.uk-business { padding-top:10px;padding-bottom:10px; }
	span.all-price { display:none; }
	.add-listing-register .offers .featured-list-container button[type="button"].get-all { display:block;width:100%;font-size:12px;line-height:1.2;font-weight:700;padding-top:9px;margin-bottom:10px; }
	.add-listing-register .offers .featured-list-container button[type="button"].get-all span { color:#fff;float:left;width:auto;margin-top:-8px; }
	.product-types { width:100%;margin-bottom:20px;padding:20px 10px 20px 10px; margin-left:0; }
	.add-listing .product-types .btn strong { font-size:22px;line-height:1.2;padding-top:0; }
	.add-listing .product-types .btn strong small { font-size:12px;line-height:1.2;font-weight:700;display:inline;padding-top:7px;margin-left:5px; position:relative; top:-3px;}
	.add-listing .product-types .featured-list-container .btn { height:40px; margin-top:20px;}
	.add-listing .featured-list-container > span { display:none; }
	.example-box { position:relative; }
	.add-listing .example-box a { position:absolute;bottom:16px;right:10px; }
	.add-listing .example-box { padding-bottom:10px; }
	.example-box span.quick-way strong { font-size:35px;line-height:1.2; display:block; }
	.add-listing .example-box span.uk-business { padding-top:10px; }
	.why-listed { font-size:14px;line-height:1.2;padding-top:0;padding-bottom:10px;text-align:left; }
	.add-listing .free:nth-child(2) .example-box span.uk-business { padding-bottom:18px; }
	.add-listing .featured-list-container { padding-top:10px; }
	.profile-page .sidebar .map-box.listing-box,.profile-page .sidebar .tweets,.profile-page .sidebar .adds-box { background:none;padding:0; }
	.profile-page .gallery-box,.location-box,.opening-box { background:rgba(255,255,255,0.8);padding:10px;margin-bottom:10px; }
	.opening-box {padding:12px 10px!important;}
	.profile-page .features .gallery-box h2.iheading,.sidebar .features .location-box h2, .opening-box .headertitle { display:block;font-size:14px;line-height:1.2;color:#000;font-weight:700;padding-bottom:10px;border-bottom:none; }
	.profile-page .features .gallery-box h2.iheading span { color:#8b8b8b; }
	.profile-page .sidebar .features .location-box h2, .opening-box .headertitle { display:block;padding-bottom:0;}
	.profile-page .tweets,.profile-page .adds-box { display:none; }
	.profile-page .location-box img { padding-top:0; }
	.profile-page .opening-box .headertitle { margin-bottom:0; }
	.profile-page .opening-box .opening-box-content {display:none; padding:15px 0;}
	.customer-reviews h2 i,.gallery-box h2.iheading i,.location-box h2 i,.opening-box .headertitle i { float:right; }
	.customer-reviews h2.open i,.gallery-box h2.iheading.open i,.location-box h2.open i,.opening-box .headertitle.open i { background-position:0 0; }
	
	/* Add timings */
	
	.openingtimes tr {margin-bottom:20px; padding-bottom:10px; border-bottom:1px #CCCCCC solid;}
	.openingtimes th {margin-bottom:10px;}
	.openingtimes tr, .openingtimes th, .openingtimes td {display:block; width:100%;}
	.openingtimes tr td, .openingtimes .ez-checkbox {vertical-align:middle!important;}
	.openingtimes tr td.title {padding-bottom:0!important;}
	
	/*add listing description light box css starts here*/
	.mfp-wrap #new-modal .alert p { padding-top:0!important;font-size:14px;line-height:1.2;color:#333; }
	.mfp-wrap #new-modal .chosen-file input { border:none;height:auto;box-shadow:none;/*background: url(../images/bg-file-type.png) no-repeat;*/}
	.mfp-wrap #new-modal .chosen-file { position:relative; }
	.chosen-file button[type="button"] { margin-top:10px;padding-left:0;padding-right:0;text-align:center;width:77%;clear:both; }
	#new-modal h3 { padding-bottom:10px; }
	.chosen-file span { display:block;padding-top:10px;font-size:13px;line-height:1.2;color:#626261; }
	.chosen-file span a { color:#626261;font-size:13px;line-height:1.2; }
	.offers .content-section table tr td div:nth-child(3) { background:none; }
	.pagination { display:block;margin:0; }
	.pager-arrow { display:none; }
	.offers .content-section div.pagination { background:none; }
	.detail-box h3 { padding-bottom:10px; }
	.offers .content-section div.pagination ul { padding-top:0; }
	.my-listing .dashboard-box { padding-bottom:10px; }
	.add-listing-timings .timings .table tr td { display:block!important; }
	.add-listing-timings .timings .table tr td:last-child { border-bottom:1px solid #c6c6c6; }
	.footable.breakpoint > tbody > tr > td > span.footable-toggle img { margin-bottom:-4px; }
	.my-listing .content { padding-bottom:10px; }
	.add-listing-description .uk-listing li.logo-photo { padding-bottom:30px; }
	.offers .example-box span.all-price { display:inline-block; }
	.free-add-listing li .selectBox-dropdown,.add-listing-add-business li .selectBox-dropdown { margin-right:0; }
	.dashboard-box h3 { padding-bottom:10px; }
	.dashboard-box span { padding-bottom:18px; }
	.dashboard-box li span { padding-bottom:9px; }
	.dashboard-box li { padding-bottom:10px; }
	.dashboard-box .alert { text-align:left;margin-bottom:28px; }
	.add-listing-extras .dashboard-box { padding-bottom:20px; }
	.dashboard-box .alert + strong { font-size:16px;line-height:1.2;color:#3e3f3e; }
	.add-listing-payment .alert { text-align:left;padding-right:0; }
	.add-listing-extras.add-listing-payment .offers div.next-prev { padding-bottom:89px; }
	.add-listing-payment .next-prev button.btn[type="button"],.add-listing-payment .next-prev button.btn[type="button"]:hover { box-shadow:2px 2px 4px #AFAFAF; }
	.profile-page .breadcrumb li span { color:#85a500;font-weight:400; }
	.profile-page .companyheadline img { padding-bottom:14px; }
	.companyheadline address { padding-right:0; }
	.companyheadline h2 { padding-bottom:4px; }
	.companyheadline span { padding-top:20px; }
	.profile-page #localSection .contact-info { padding-top:16px; }
	.profile-page .contact-info strong { padding-bottom:16px; }
	.profile-page .contact-info strong.connect { margin-top:0;padding-bottom:8px; }
	.profile-page .breadcrumb { padding-top:4px; }
	.companyheadline { padding-top:15px; }
	
	.about-organisation { margin-top:19px; }
	.about-organisation .about-text, .organisation-products .products-list {display:none;}
	.organisation-products { padding-top:14px; }
	
	.customer-reviews { }
	.customer-reviews h2 i { margin-right:8px; }
	.profile-page .reviews { display:none; }
	.profile-page #localSection.local-listing { padding-bottom:28px; }
	.profile-page .sidebar .features .gallery-box h2,.profile-page .sidebar .features .location-box h2,.profile-page .sidebar .features .opening-box.opening-hrs h2,.profile-page .sidebar .features .opening-box.payment-type h2 { padding-bottom:0; }
	.profile-page .gallery-box ul,.profile-page .location-box img,.profile-page .opening-box.opening-hrs .schedule,.profile-page .features .opening-box.payment-type ul { padding-top:10px; }
	.copyright-section li a { background:url(../images/sprite.png) no-repeat;width:60px;height:60px;margin:0 auto;background-position:-440px -1px; }
	.copyright-section li.facebook a { background-position:-440px -63px; }
	.copyright-section li.google a { background-position:-440px -124px; }
	.copyright-section li.linkedIn a { background-position:-440px -186px; }
	.copyright-section li a:hover { opacity:0.5;filter:alpha(opacity=50);background-position:-440px -1px; }
	.copyright-section li.facebook a:hover { background-position:-440px -63px; }
	.copyright-section li.google a:hover { background-position:-440px -122px; }
	.copyright-section li.linkedIn a:hover { background-position:-440px -186px; }
	.copyright-section ul { position:absolute; }
	.copyright-section li { float:left;width:25%;text-align:center;margin-left:0; }
	.copyright-section { padding-bottom:33px; }
	footer .get-listed .btn { width:140px; }
	.free.international-listing .example-box { padding-bottom:28px; }
	.offers .example-box span.all-price { font-size:14px;line-height:1.2; }
	.offer-box {width:100%;}
	.add-listing-add-business .example-box .quick-way strong { display:block; }
	.profile-page #localSection.local-listing,.profile-page .customer-reviews,.profile-page .gallery-box,.profile-page .location-box,.profile-page .opening-box.opening-hrs,.profile-page .opening-box.payment-type { box-shadow:0 1px 2px #d4d2d3; }
	.customer-reviews .review-one:nth-child(2) { display:block;margin-top:10px; }
}

/* Tablet */
@media (min-width:768px) and (max-width:1024px)  { 
	header .page { padding:0 10px; }
	.logIn-box { width:56%;padding-right:0; }
	header h1 { width:35%; }
	header h1 a { width:100%; }
	header input[type="submit"] { font-size:10px; }
	.dashboard-listings li a { font-size:12px;line-height:1.2;padding:13px 20px; }
	button[type="button"] { font-size:12px;line-height:1.2; }
	.copyright-section span { white-space:nowrap; }
	.content-section { padding:0 10px; }
	
	/*add listing add business css starts here*/
	.offers { padding:0 10px; }
	.free { padding-left:10px; }
	.featured-list-container li small { padding-right:0; }
	.social-url li { padding-bottom:10px; }
	.social-url { padding-top:10px; }
	.payment-method { white-space:normal; }
	.example-box strong { font-size:28px;line-height:1.2; }
	
	/*add listing description page css starts here*/
	.add-listing-description .content-section,.add-listing-extras .content-section,.affiliate-ceneter .content-section,.contact .content-section,.forgotten-password-page .content-section,.listing .page .page,.login .content-section,.my-listing .content-section,.offers .content-section,.search-page .page .page { padding:0; }
	.add-listing-extras .next-prev button[type="button"]:hover { font-size:12px;line-height:1.2; }
	.add-listing-extras .next-prev button[type="button"].btn { font-size:12px;line-height:1.2; }
	.steps li { padding-left:8%; }
	.free .featured-list-container > ul > li:nth-of-type(6) { width:113%; }
	.free .featured-list-container > ul > li { padding-left:32px; }
	.uk-listing.register-uk-directory > ul > li:nth-of-type(6) button[type="button"] { width:35%; }
	.add-listing-register .uk-listing li span { padding-bottom:10px; }
	
	/*add listing tags css starts here*/
	.add-box label { width:38%; }
	.add-listing-tags .added-box-outer .next-prev button[type="button"]:hover { font-size:12px;line-height:1.2; }
	.add-listing-tags .added-box-outer .next-prev button[type="button"].btn { font-size:12px;line-height:1.2; }
	.timings .start-time > div { margin-right:2px; }
		
	/*archive-article page css starts here*/
	.article-archive .content .page,.article-page .content .page,.dashboard-links,.home .page,.listing .page,.lising-page .page,.local-town-listing .page,.profile-page .page,.search-page .page { padding:0 10px; }
	
	/*home page css starts here*/
	.categoryBox .categoryHeader i { display:none; }
	.categoryBox .categoryHeader { display:block; }
	.categoryBox { width:48%;float:left; }
	.categoryBox.last { float:right; }
	
	/*local listing page css starts here*/
	.anglia-box { position:relative;z-index:11; }
	.local-town-listing .categoryBox ul li.moreCategory a { white-space:nowrap; }
	
	/*local towns page css starts here*/
	.content-section .banner { width:66%; }
	
	/*profile page css starts here*/
	.gallery-box ul li { width:41%; }
	.leave-rating { padding-right:0; }
	.leave-rating button[type="button"] { width:40%; }
	.review-one img { margin-right:4%; }
	.review-description { width:77%; }
	
	/* Add timings */
	.openingtimes select {font-size:10px!important;}
}
@media (min-width:768px) { 
	.wrapper {margin-left:0!important; transition: all 0.5s ease;}
	.nav-bar {display:none!important;}
	.logIn-box .searchFormContainer, .add-listing-register .uk-listing ul, .add-listing-add-business .featured-list-container ul, .add-listing-add-business .uk-listing ul, .add-listing-add-business .uk-listing ul, .featured-list-container ul, .about-organisation .about-text, .organisation-products .products-list, .profile-page .opening-box .opening-box-content  {display:block!important;}
	.listing .categoryListContainer {display:block}
}