body{background-color:#fff;font-size:62.5%;line-height:1.2;color:#626161;font-family:Arial, Helvetica, sans-serif; background-color:#d1d2d4;}
.content{padding:20px 0 20px 0}
.main-content{float:left;width:66%;margin-bottom:20px}
.sidebar{float:right;width:32%;margin-left:2%}

/*tabbing css starts here*/
.mainSectionWrapper{width:100%;height:100%}
.mainNavTabs ul{overflow:hidden;width:100%;height:100%}
.mainNavTabs ul li{float:left}
.mainNavTabs ul li a, .mainNavTabs ul li h1 {padding:0 0 0 3px;margin:0 10px 0 0;display:block;text-decoration:none}
.mainNavTabs ul li a span{color:#000;display:block;font:14px/30px Tahoma;padding:0 8px 3px 10px;text-decoration:none}
.mainNavTabs ul li a:hover{text-decoration:underline;}
.mainNavTabs ul li a:hover span{color:#000}

/*tabbing css ends here*/
.mainNavTabs ul li a, .mainNavTabs ul li h1 {font-size:2.4em;line-height:1.2;color:#fff;background:rgba(46,37,37,0.35);font-weight:700;padding:12px 20px}
.banner{padding-bottom:21px}
.mainNavTabs ul li .selected{background:rgba(251,250,250,0.8);color:#228fbb}
#ukDirectoryMain,#localSection{padding:20px;background:rgba(251,250,250,0.80);position:relative}

/*side bar css starts here*/
.listing-box,.tweets,.latest-review,.featured-article,.sponsored-listing,.article-category,.terms,.uk-listing, .contact-us, .review-one,.leave-review{background:rgba(251,250,250,0.80)}
.social-box{text-align:center;padding-top:5px;border-bottom:1px solid #eeeded}
.social-box li{display:inline-block;margin-left:18px}
.social-box li a{display:block;background:url(../images/sprite.png) no-repeat;width:41px;height:43px}
.social-box li.tweeter a{background-position:-83px 0}
.social-box li.facebook a{background-position:-129px 0}
.social-box li.google a{background-position:-175px 0}
.social-box li.linkedIn a{background-position:-220px 0}
.social-box li:first-child{margin-left:0}
.advert{padding-bottom:20px}
/*side bar css ends here*/

.listing-box,.directory-listing,.sponsored-listing,.article-category,.terms,.uk-listing, .contact-us{padding:20px 21px 12px}
.sidebar .listing-box {margin-bottom:20px;}
.sidebar h2,.sponsored-listing h2,.article-archive .popular-business h2,.terms h2 {color:#228fbb;border-bottom:1px solid #eeeded;padding-bottom:12px}

.featured-listing{padding-top:15px;}
.featured-listing a{color:#228fbb;font-size:1.4em;line-height:1.5}
.featured-listing h3 a {color: rgb(98, 97, 97); font-size: 1.2em; line-height: 1.5;}
.tweets,.review-one {margin-bottom:20px; padding:15px 20px 21px 22px}
.tweets h2 i{background:url(../images/sprite.png) no-repeat;background-position:-79px -51px;display:block;width:37px;height:25px;float:left;margin-right:9px}
.tweets .tweet {}
.tweets .tweet p {font-size:14px; line-height: 1.4; margin-top:15px;}
.reviews{padding-top:10px;padding-bottom:2px}
.tweets a{display:inline-block;font-size:12px;line-height:1.2}
.latest-review{margin-bottom:20px;padding:13px 21px 15px}
.review h3 {margin-bottom:0;}
.review h3 a {font-size: 16px; font-weight: bold; color: rgb(98, 97, 97);}
.review h3 span{font-size:0.5em;line-height:1.2;font-weight:700; color: rgb(98, 97, 97); font-size:12px;}
.review .date{font-size:1.2em;line-height:1.2;display:block; font-weight:normal;}
.review{padding:11px 0 9px}
.review .date{padding-top:3px}
.featured-article{margin-bottom:20px;padding:12px 20px 11px 19px}
.featured-article article{padding:12px 0 4px 1px}
.featured-article article h3 a {font-size: 16px; font-weight: bold; color: rgb(98, 97, 97); text-decoration: none;}
article p{padding-right:2px}
.featured-article > a{display:block;float:right;padding-top:12px}
.dollar-box{padding:11px 0 8px 2px}

/* Local location map */
.ukmapLocations {width:35%; float: left; padding-top: 10px;}
.ukmapLocationsItem {text-align: left; border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 10px; margin-bottom: 10px;}
.ukmapLocationsItemTitle a {font-weight: bold; font-size: 16px; color: rgb(98, 97, 97); text-decoration: none;}
.ukmapLocationsItemJC {color: rgb(102, 102, 102); font-size: 13px; font-weight: normal;}
.ukmapLocationsItemJC a {color: rgb(102, 102, 102); font-size: 13px; text-decoration: none;}
.ukmapLocationsItemMore a {color: rgb(34, 143, 187);text-decoration: none; font-size:12px; display:block;}
.ukmap {width: 65%; float: left;}
.map{float:right;position:absolute;right:30px;top:19px}
.anglia-box{float:left;width:37%}
.anglia-box a{color:#666;font-size:13px}
a.more{color:#228fbb;white-space:nowrap}
.anglia h3{padding-bottom:4px}
.anglia{border-bottom:1px solid #ccc;padding-bottom:12px;padding-top:10px}
.anglia:first-child{padding-top:0}
h3 small{font-size:12px;line-height:1.2}
.content-section{width:100%}
.content-section .banner{float:left}
#localSection.local-listing{padding:12px 20px}
#localSection.local-listing h3{font-size:1.7em; margin-bottom:0;}
.local-listing-section{padding-top:14px}
.local-listing-section li{float:left;margin-right:3%;width:30%;font-weight:700}
.local-listing-section a{color:#636262;font-size:1.3em;line-height:1.3}

/*listing page css starts here*/
.current-section span, .article-breadcrumb span{font-size:12px;line-height:1.2}
.current-section strong{font-size:1.6em;line-height:1.2}
.listing .listing-container{margin-top:-9px}
.listing .topnav > li{min-height:0;margin-bottom:-1px}
.listing .topnav > li{font-size:1.2em;line-height:1.2;width:100%}
.category-container{padding-top:6px;padding-bottom:2px}
.listing #ukDirectoryMain{padding-bottom:10px}
.listing .directory-listing-box{padding-bottom:47px}
.hide,.show{font-size:12px;line-height:1.2;font-weight:700;color:#228fbb}
.listing .topnav li li{width:31%;float:left;font-size:1.2em;line-height:1.2}
.listing .topnav > li > a{display:none}
.listing .topnav li li a{font-size:12px;line-height:1.2;font-weight:700}
.listing .topnav li li{padding-bottom:1px;margin-bottom:-2px}
.category-container{position:relative}
/*listing page css ends here*/

.content-section .banner{float:left}
#localSection.local-listing{padding:12px 20px}
#localSection.local-listing h3{font-size:1.7em}
#localSection.local-listing h3 span{font-size:12px;font-weight:400}

.breadcrumb{padding-top:3px}
.breadcrumb li,.breadcrumb li a{color:#626161}
.breadcrumb li{float:left;font-size:1.2em;font-weight:700}
.breadcrumb li a{font-size:100%;line-height:1}
.breadcrumb li a:hover {color:#228fbb; text-decoration:underline;}
.breadcrumb li i{display:block;float:right;margin-top:-2px;padding:0 4px}
.local-listing-section{padding-top:14px}
.local-listing-section li{float:left;margin-right:3%;width:30%}
.local-listing-section a{color:#636262;font-size:1.3em;line-height:1.3;font-weight:700}

.map-box{margin-bottom:15px}
#map_canvas {height:300px;}
#map_canvas img {width:auto!important; max-width:none!important;}

h3 span{font-size:78%}
.category-listing{padding-top:26px}
.box-listing{float:left;width:46.3%;margin:0 3.6% 35px 0}
.open .up{bottom:-42px;display:block;position:absolute;right:-21px;background:url(../images/bg-hide.png) no-repeat right;padding-right:35px;height:28px;padding-top:7px;font-size:13px;line-height:1.2;font-weight:700;text-transform:capitalize}
a.hide i{width:28px;height:28px}
.open .down{display:none}
.close .up{display:none}
.close .down{bottom:-42px;display:block;position:absolute;right:-21px;background:url(../images/bg-show.png) no-repeat right;padding-right:35px;height:28px;padding-top:7px;font-size:13px;line-height:1.2;font-weight:700;text-transform:capitalize}

.listing .category-container{padding-bottom:12px}
.listing h2{color:#a4c600;padding-bottom:24px}
.listing h3{padding-bottom:2px}
.listing p{font-size:1.3em;line-height:1.3}
.listing ul.categoryList {width: 32%; float: left; margin: 20px 0 0 0; padding: 0px; list-style-position: inside; list-style-type: none;}
.listing ul.categoryList li h3 {margin-bottom:0; line-height:15px;}
.listing ul.categoryList li a {font-size:12px; color: rgb(98, 97, 97); text-decoration: none; font-weight: bold; margin: 0px; padding: 0px; list-style-position: inside; list-style-type: none;}
.listing ul.categoryList li a:hover {color:#228fbb; text-decoration:underline;}

.directory-listing {position:relative; background:#f8f7f7; padding-bottom:27px; margin-bottom:15px; padding-left:130px;}
.directory-listing img {position:absolute; left:20px; top:20px;}

.paging{padding-top:7px;padding-bottom:21px}
.paging li{float:left;font-size:1.6em;line-height:1.2}
.paging li a{width:28px;height:28px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;display:block;padding:6px 0 0 0; margin:0 1px; font-weight:700;color:#626161; text-align:center;}
.paging li a.active{background:#cddfe8;color:#228fbb}
.paging ul{float:right}
.paging li a.more i{background:url(../images/sprite.png) no-repeat;display:block;background-position:-160px -220px;width:28px;height:28px}
.paging li a.more{padding:0; /*margin-left:10px;*/}
.listing .sponsored-listing h2{color:#228fbb;padding-bottom:12px}
.listing .featured-listing p{font-size:1.4em;line-height:1.4}
.listing .featured-listing a i{background:url(../images/sprite.png) no-repeat;background-position:-199px -222px;width:16px;height:16px;display:block;float:left;margin-right:8px}
.listing .featured-listing a{display:block}
.listing .featured-listing a.tramingo i{background-position:-225px -222px}
.listing .featured-listing a.home-work i{background-position:-249px -220px}
.listing .sidebar h2{color:#228fbb;padding-bottom:12px}
.advert-container {margin-bottom:20px;}
.advert-container img {display:block;}
.result-title span{font-size:1.6em;line-height:1.2;font-weight:700}
.result-title{padding:12px 0}
.result-title .blue{color:#228fbb;font-size:16px}
.search-page .sponsored-listing{margin-top:32px}
.search-page .sidebar{margin-top:16px}
.search-page .featured-listing a i{width:16px;height:16px;display:block;background:url(../images/sprite.png) no-repeat;background-position:-41px -274px;float:left;margin-right:10px;margin-top:3px}
.search-page .featured-listing a.facebook i{background-position:-69px -274px}
.search-page .featured-listing a.google i{background-position:-92px -274px}
.listing-description{padding-top:15px}
.search-page .listing-description p{font-size:1.3em;line-height:1.3}
.search-page .listing-description img{padding-bottom:10px}
.popular-business p{font-size:1.2em;line-height:1.2}
.popular-business .featured-listing h3{padding-bottom:8px}
.popular-business .featured-listing p{padding-bottom:5px}
.popular-business .featured-listing a{font-size:1.2em;line-height:1.2}
.popular-business h2{margin-bottom:10px}
.popular-business .featured-listing{padding-top:17px;border-bottom:1px solid #eeeded;padding-bottom:17px}
.article-archive .popular-business{margin-top:-8px}
.view-article{float:right;display:block;padding-top:43px}
.article-category{margin-top:20px}
.article-category h3{padding:0 0 0 47px; position:relative;}
.article-category h3 img {position:absolute; top:0; left:0;}
.article-category h3 a {padding-top:0;}
.article-category .featured-listing p,.article-breadcrumb{border-bottom:1px solid #eeeded;padding-bottom:9px}
.article-category a{display:block;padding-top:10px}
.article-category .featured-listing{padding-bottom:13px}
.article-breadcrumb strong{font-size:12px;font-weight:400}
.article-breadcrumb{margin-top:-7px}
.article-container span,.article-container span a{font-size:12px;line-height:1.2}
.article-container h3{padding-top:12px;font-size:17px;line-height:1.2}
.article-container span{display:block;padding-top:3px;padding-bottom:15px}
.article-container p{font-size:1.2em;line-height:1.5;padding-top:14px}
.article-container p + h3{font-size:12px;line-height:1.2}
.article-container p span{font-size:14px;line-height:1.2;color:#228fbb;padding:0;display:inline}
.article-container blockquote{font-size:12px;line-height:1.2;color:#228FBB}
.article-container li{margin-right:10px;float:left}
.article-container{padding-bottom:30px}
.article-container ul{padding-top:20px}
.article-container ul.article-social {padding-top:80px;}

.terms strong{font-size:12px;line-height:1.2;font-weight:700;display:block;padding-top:13px}
.terms li{list-style-type:decimal;list-style-position:inside;font-size:12px;line-height:1.2;font-weight:700;padding-top:14px}
.terms li h4{display:inline-block;font-size:12px;line-height:1.2;font-weight:700}
.terms p{font-size:12px;line-height:1.2;font-weight:400;padding-top:14px}
.rules li{background:url(../images/bg-bullets.png) no-repeat left 18px;padding-left:12px;font-weight:400;list-style-type:none}
.not-use li{list-style-type:circle;list-style-position:inside;padding-top:1px}
.not-use ul{padding-top:18px;padding-left:26px}
.rules{padding-left:27px}
.not-use{padding-left:14px}
.general-rules li{list-style-type:none;font-weight:400}
.terms p strong{display:inline}
.terms{padding-bottom:35px}
.term-condition .main-content{padding-bottom:40px}
.home .social-box{background:rgba(251,250,250,0.8);padding-top:9px}
.home .topnav > li.Legal,.home .topnav > li.Lifestyle{min-height:309px}
.social-box{padding-top:0}
.why-listed{text-align:center;font-size:16px;line-height:1.2;padding-top:2px;padding-bottom:18px}
.why-listed span{color:#1c8bb6;font-weight:700;font-style:italic}

.product-types {width:32%;float:left;background:#f9f8f8;margin-left:2%;padding:11px 20px 14px 23px}
.product-types:first-child{margin-left:0}

.quick-way{font-size:18px;line-height:1.2}
.example-box strong{font-size:55px;line-height:1.1;text-transform:uppercase}
.uk-business{font-size:14px;line-height:1.2;display:block;padding-top:16px}
.example-box{border-bottom:1px solid #e7e5e6}
.example-box a{font-size:12px;text-align:right;text-decoration:underline;display:block;margin-bottom:-3px;font-style:italic}
.featured-list-container span{font-size:14px;line-height:1.4;color:red;font-weight:700;display:block;width:100%}
.featured-list-container{padding-top:18px}
.featured-list-container li,.added-box li{font-weight:700;font-size:14px;line-height:1.2;background:url(../images/right-bullet.png) no-repeat left -1px;padding-left:37px;padding-bottom:19px}
.featured-list-container li small{font-weight:400;display:block;padding-right:78px;line-height:1.4}
.featured-list-container li i{background:url(../images/sprite.png) no-repeat;background-position:-122px -265px;width:27px;height:27px;display:block;float:left;margin-right:12px}
.featured-list-container ul{padding-top:13px}
.featured-list-container > ul {padding-bottom:12px;}
.featured-list-container li.cross,.added-box li.cross{background:url(../images/wrong-bullet.png) no-repeat left -1px}
.social-url li{float:left;background:none;padding:0;margin-left:3px; padding-bottom:5px;}
.social-url li a{display:block;width:29px;height:29px;background:url(../images/sprite.png) no-repeat;background-position:-62px -304px}
.social-url{/*width:110%;*/padding-bottom:4px}
.social-url li i {width: 29px; height: 27px; display: block; float: left; margin-right:0;}
.social-url li:first-child{margin-left:0}

.social-url li.tweeter i,
.featured-list-container li i.tweeter,
.free .social-url li.tweeter a:hover,
.free-add-listing .free .social-url li.tweeter a:hover,
.add-listing-add-business .free .social-url li.tweeter a:hover {background-position:-62px -339px}

.free .social-url li.tweeter i,
.free .featured-list-container li i.tweeter,
.social-url li.tweeter a:hover i,
.free-add-listing .free .social-url li.tweeter a,
.add-listing-add-business .free .social-url li.tweeter a {background-position:-62px -304px}

.social-url li.facebook i,
.featured-list-container li i.facebook,
.free + .free .social-url li.facebook a:hover,
.free + .free .featured-list-container li i.facebook:hover,
.free-add-listing .free .social-url li.facebook a:hover,
.add-listing-add-business .free .social-url li.facebook a:hover {background-position:-97px -339px}

.free .social-url li.facebook i,
.free .featured-list-container li i.facebook,
.free-add-listing .free .social-url li.facebook a,
.add-listing-add-business .free .social-url li.facebook a {background-position:-97px -304px}

.social-url li.you-tube i,
.free + .free .social-url li.you-tube a:hover,
.free-add-listing .free .social-url li.you-tube a:hover,
.add-listing-add-business .free .social-url li.you-tube a:hover {background-position:-131px -339px}

.free .social-url li.you-tube i,
.free-add-listing .free .social-url li.you-tube a,
.add-listing-add-business .free .social-url li.you-tube a {background-position:-131px -304px}

.social-url li.rss i,.free + .free .social-url li.rss a:hover,
.free-add-listing .free .social-url li.rss a:hover,
.add-listing-add-business .free .social-url li.rss a:hover {background-position:-167px -339px}

.free .social-url li.rss i,
.free-add-listing .free .social-url li.rss a,
.add-listing-add-business .free .social-url li.rss a {background-position:-167px -304px}

.social-url li.google i,
.free .social-url li.google a:hover,
.free-add-listing .free .social-url li.google a:hover,
.add-listing-add-business .free .social-url li.google a:hover {background-position:-201px -339px}

.free .social-url li.google i,
.free-add-listing .free .social-url li.google a,
.add-listing-add-business .free .social-url li.google a {background-position:-201px -304px}

.social-url li.linkedIn i,
.free .social-url li.linkedIn a:hover,
.free-add-listing .free .social-url li.linkedIn a:hover,
.add-listing-add-business .free .social-url li.linkedIn a:hover {background-position:-235px -339px}

.free .social-url li.linkedIn i,
.free-add-listing .free .social-url li.linkedIn a,
.add-listing-add-business .free .social-url li.linkedIn a {background-position:-235px -304px}

.social-url li.pinterest i,
.free .social-url li.pinterest a:hover,
.free-add-listing .free .social-url li.pinterest a:hover,
.add-listing-add-business .free .social-url li.pinterest a:hover {background-position:-269px -339px}

.free .social-url li.pinterest i,
.free-add-listing .free .social-url li.pinterest a,
.add-listing-add-business .free .social-url li.pinterest a {background-position:-269px -304px}

.featured-list-container li i.tweeter,.featured-list-container li i.facebook{float:left;display:inline-block;margin-left:5px;margin-right:5px;width:31px;height:31px}
.featured-list-container li span{width:auto;float:left;color:#626161;margin-left:0}
.btn small{display:block;font-size:12px;line-height:1.2;text-transform:uppercase}
.btn strong{display:inline-block}
.buy-now.btn i{float:left}
.buy-now.btn strong{float:left}
.buy-now.btn{padding-top:8px; padding-bottom:8px; border-radius:30px; height:60px; text-align:left;}
.buy-now.btn strong{font-size:23px;line-height:1.2}
.buy-now.btn small{font-size:11px;line-height:1.2}

.payment-method{white-space:nowrap}
.uk-business strong{font-size:30px;line-height:1.2}
.uk-business strong{float:left;display:block;margin-top:-10px;margin-right:5px}
.uk-business small{font-size:11px}
.offers .right{float:right}
.uk-listing h2{font-size:20px;line-height:1.2;color:#228fbb;padding-bottom:22px}
.uk-listing h3{font-size:18px;line-height:1.2;color:red}
.uk-listing ul{padding-top:34px}
.uk-listing li{padding-right:4.2%;padding-bottom:13px}
.confirm-category, label.description {width:100%}
label.description {margin-bottom:10px;}
li input[type=text].confirm-category{width:100%; margin-bottom:5px;}
.uk-listing li span,.uk-listing li strong{font-size:13px;line-height:1.2;color:#228fbb}
.uk-listing li strong{color:#626161}
.uk-listing li input[type=submit]{height:40px}
.uk-listing li > button[type=button]{float:right;margin-top:33px;margin-right:-4.2%;}
.free-add-listing .uk-listing li > button[type=button] {margin-right:auto;}
.free .featured-list-container .btn.upgrade{height:40px;padding-top:10px}
.free .featured-list-container .btn.upgrade:hover{height:40px;text-decoration:none}
.uk-listing li button[type=button]:hover,.leave-rating button[type=button]:hover,.detail-box li button[type=button]:hover,.report-listing li button[type=button]:hover,.add-listing-description li.logo-optional a.btn.popup-modal:hover,.add-listing-description li.logo-photo a.btn.popup-modal:hover{background:#969b96;background:0 to(#727472));background:0;background:0;background:0;background:0;background:linear-gradient(#969b96,#727472);-pie-background:linear-gradient(#969b96,#727472);border:none;behavior:url(PIE.htc)}
.local-towns #localSection,.local-towns .mainNavTabs ul li a.selected{background:#faf9f9}
.listingForm select {float:right;}

/* Dropdown control 
.selectBox-dropdown{min-width:150px;position:relative;border:solid 1px #BBB;line-height:1.5;text-decoration:none;text-align:left;color:#000;outline:none;vertical-align:middle;background:#F2F2F2;background:0;background:0 color-stop(100%,#E1E1E1));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#E1E1E1',GradientType=0);-moz-box-shadow:0 1px 0 rgba(255,255,255,.75);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.75);box-shadow:0 1px 0 rgba(255,255,255,.75);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:inline-block;cursor:default}
.selectBox-dropdown:focus,.selectBox-dropdown:focus .selectBox-arrow{border-color:#666}
.selectBox-dropdown.selectBox-menuShowing-bottom{-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0}
.selectBox-dropdown.selectBox-menuShowing-top{-moz-border-radius-topleft:0;-moz-border-radius-topright:0;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;border-top-left-radius:0;border-top-right-radius:0}
.selectBox-dropdown .selectBox-label{padding:2px 8px;display:inline-block;white-space:nowrap;overflow:hidden}
.selectBox-dropdown .selectBox-arrow{position:absolute;top:0;right:0;width:23px;height:100%;background:url(../images/jquery.selectBox-arrow.gif) 50% center no-repeat;border-left:solid 1px #BBB}
*/
/* Dropdown menu 
.selectBox-dropdown-menu{position:absolute;z-index:99999;max-height:200px;min-height:1em;border:solid 1px #BBB;/* should be the same border width as .selectBox-dropdown */background:#FFF;-moz-box-shadow:0 2px 6px rgba(0,0,0,.2);-webkit-box-shadow:0 2px 6px rgba(0,0,0,.2);box-shadow:0 2px 6px rgba(0,0,0,.2);overflow:auto;-webkit-overflow-scrolling:touch}

/* Inline control 
.selectBox-inline{min-width:150px;outline:none;border:solid 1px #BBB;background:#FFF;display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;overflow:auto}
.selectBox-inline:focus{border-color:#666}
*/
/* Options 
.selectBox-options,.selectBox-options LI,.selectBox-options LI A{list-style:none;display:block;cursor:default;padding:0;margin:0}
.selectBox-options.selectBox-options-top{border-bottom:none;margin-top:1px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px}
.selectBox-options.selectBox-options-bottom{border-top:none;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.selectBox-options LI A{line-height:1.5;padding:0 .5em;white-space:nowrap;overflow:hidden;background:6px center no-repeat}
.selectBox-options LI.selectBox-hover A{background-color:#EEE}
.selectBox-options LI.selectBox-disabled A{color:#888;background-color:transparent}
.selectBox-options LI.selectBox-selected A{background-color:#C8DEF4}
.selectBox-options .selectBox-optgroup{color:#666;background:#EEE;font-weight:700;line-height:1.5;padding:0 .3em;white-space:nowrap}
*/
/* Disabled state 
.selectBox.selectBox-disabled{color:#888!important}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow{opacity:.5;filter:alpha(opacity=50);border-color:#666}
.selectBox-inline.selectBox-disabled{color:#888!important}
.selectBox-inline.selectBox-disabled .selectBox-options A{background-color:transparent!important}
*/
/*select box css ends here*/
.free-add-listing li .selectBox-dropdown,.add-listing-add-business li .selectBox-dropdown{float:right;width:61.3%!important;margin-right:2%}
.uk-listing li span.selectBox-label{color:#222;padding-top:6px}

.premium-listing .add-listing-register .example-box strong,
.add-listing-add-business .example-box strong{color:#a9d400}

.example-box .uk-business strong{color:#626161}
.all-price{font-size:11px;line-height:1.2;color:#696868;display:block;padding-bottom:3px}
.add-listing-register .featured-list-container ul{padding-top:0}
.add-listing-register .featured-list-container{padding-top:15px}
.add-listing-register .uk-listing ul,.add-listing-add-business .featured-list-container ul,.add-listing-add-business .uk-listing ul{padding-top:0}
.add-listing-register .uk-listing li button[type=button]{margin-top:0}
.add-listing-register .uk-listing li span{padding-left:37%}
.uk-listing li .forgotten{padding-top:10px;display:block}
.register-uk-directory{margin-top:15px}
.register-uk-directory span.forgotten{color:#626161}
.add-listing-register .register-uk-directory li span.forgotten label,span.forgotten label{width:auto;font-weight:400;font-size:12px;line-height:1.2;color:#626161}
.add-listing-register .register-uk-directory li label a{font-size:12px;line-height:1.2}
.uk-business{display:inline-block}
.all-price{display:inline}
.add-listing-add-business .example-box{padding-bottom:2px}
.alerts{background:#bae100;padding:16px 18px 17px 44px;margin-bottom:13px}
.alerts span{font-size:13px;line-height:1.2;color:#000;font-family:Arial, Helvetica, sans-serif;padding-top:8px;display:block}
.alerts span:first-child{padding-top:0}
.uk-listing li.twitter span{float:left;padding-left:2%;padding-right:3px;padding-top:8px;color:#626161}
.add-listing-add-business .uk-listing li.twitter input[type=text]{width:58%;float:left}
.steps{border-top:4px solid #2592b9;padding-bottom:22px}
.steps li{position:relative;float:left;font-size:12px;line-height:1.2;padding-left:10%}
.steps ul{padding-top:8px}
.steps li a{font-size:12px;line-height:1.2;color:#626161}
.steps li:first-child{padding-left:0}
.steps li.active:after{width:72%;height:4px;background-color:#454142;content:"";position:absolute;left:0;top:-12px}
.steps li:first-child{padding-left:4%}
.steps li.active:before{position:absolute;width:14px;height:10px;top:-12px;left:71%;content:"";background:url(../images/bg-stepping-arrow.png) no-repeat}
.steps li.full:after{width:100%;height:4px;background:#454142;content:"";position:absolute;top:-12px;left:0}
.add-listing-description .uk-listing{background:#faf9f9}
.add-listing-description .uk-listing li {font-weight:700;list-style-type:decimal;list-style-position:inside;font-size:15px;line-height:1.2;padding-right:0; margin-bottom:25px;}
.add-listing-description .uk-listing li.last {margin-bottom:0; padding-bottom:0;}
.add-listing-description .uk-listing ul {padding-top:0}
.add-listing-description .uk-listing li label {width:auto;font-size:15px;line-height:1.2;display:inline-block;float:none;padding-bottom:8px}
.add-listing-description .uk-listing li label.tick-box {padding-left:40px; position:relative;}
.add-listing-description .uk-listing li label.tick-box .ez-checkbox {position:absolute; left:0; top:15px;}
.add-listing-description .uk-listing li input[type=text] {float:left;width:93%}
.add-listing-description .uk-listing li.overflow {overflow:hidden}
.add-listing-description .uk-listing li p {font-size:14px;line-height:1.5em;font-weight:400}
.add-listing-description .uk-listing li .pay-customer label {margin-bottom:18px;}
.tick-box{padding-top:23px}
.add-listing-description .uk-listing li > span {font-size:12px;line-height:1.2;color:#a4c600;font-weight:400;padding-top:15px;display:block}
.add-listing-description .uk-listing li > button[type=button] {float:none;margin-top:0;margin-left:15px}
.add-listing-description .uk-listing li label span {display:inline;font-style:italic;font-weight:700;color:#626161;font-size:15px}
.add-listing-description .uk-listing li label.tick-apply {display:block}
.add-listing-description .uk-listing li label img {display:inline-block;}
.add-listing-description .uk-listing li label {padding-right:10px}
#display_count {font-size:14px; font-weight:100; color:#abd300; margin-top:10px;}
#categorynames {float:left; margin-top:20px;}
#categorynames li {list-style:none; padding-left:35px; padding-top:6px; margin-bottom:0; position:relative; color:#228FBB;}
#categorynames li a {position:absolute; top:0; left:0;}

.next-prev{float:right}
.money-transfer{float:left}
.login .uk-listing h2,.forgotten-password-page .uk-listing h2,.contact h2{border-bottom:1px solid #eeeded;padding-bottom:16px;margin-bottom:10px}
.login .uk-listing ul{padding-top:12px}
.login .uk-listing li.password-forgotten{padding-top:17px}
.login .uk-listing li > button[type=button]{margin-top:0;}
.login .uk-listing li.password-forgotten span{float:left;padding-top:0;padding-left:37%}
.login .uk-listing li.password-forgotten span a{font-size:13px;line-height:1.2}

/*forgotten password page css starts here*/
.forgotten-password-page .uk-listing span {font-size:12px;line-height:1.2;color:#626161;font-weight:700}
.forgotten-password-page .uk-listing ul {padding-top:24px}
.forgotten-password-page .uk-listing li label {width:100%;padding-bottom:13px}
.forgotten-password-page .uk-listing li input[type=text] {width:30.7%;float:left}
.forgotten-password-page .uk-listing li button[type=button] {float:left;margin-top:0;margin-left:11px; position:relative; top:-5px;}
.forgotten-password-page .content{padding-bottom:52px}

.contact address,.contact address span,.contact span{display:block;font-size:12px;line-height:1.2;padding-bottom:1px}
.contact .write-us{padding-top:20px}
.contact .write-us:first-child{padding-top:0}
.contact .uk-listing ul{padding-top:0}
.contact label{width:17.4%;font-size:12px;line-height:1.2}
.contact .uk-listing li input[type=text],.contact .uk-listing li textarea{width:50.3%;height:28px;float:left}
.contact .uk-listing li textarea{height:218px}
.contact .uk-listing li button[type=button]{margin-top:-12px}
.contact .uk-listing{padding-bottom:20px}
.contact .content{padding-bottom:52px}

/*report listing css starts here*/
.report-listing,.add-tags,.payment-details,.dashboard-box,.account-detail-box, .payment-options, .payment-details {background:rgba(251,250,250,0.8)!important;padding:13px 21px 20px!important;}
.report-listing .important {color:#c00;font-weight:700;line-height:1.4;font-size:12px;display:block;padding:15px 0 30px}
.report-listing .important a{font-size:12px;line-height:1.2}
.info-report label{width:100%}
.report-listing li{display:inline-block;padding-top:15px;width:100%}
.report-listing li label{white-space:nowrap}
.report-listing li.info-report{padding:8px 0 15px 42px; position:relative; min-height:40px;} 
.report-listing li.info-report label {font-size:14px; font-weight:600;}
.report-listing li.info-report .ez-checkbox {position:absolute; left:0; top:0;}
.report-listing li label{width:19.5%;font-weight:400;font-size:12px;line-height:1.2}
.report-listing li input[type=text],.report-listing li input[type=email],.report-listing li textarea{margin-right:6.6%;height:30px;width:73.8%}
.report-listing li textarea{height:160px;width:61.7%}
.verification-box{padding:5px;float:left;width:80.5%}

.recaptchatable {background-color:#fff;}
.recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th {}
.recaptchatable #recaptcha_response_field {width:100%!important; margin-right:0; float:none;}
.recaptchatable #recaptcha_image {-moz-box-sizing:initial!important; -webkit-box-sizing:initial!important; -box-sizing:initial!important;} 
.report-listing li button[type=button]{padding-right:25px}
.add-listing-tags .steps li.active:before{left:87%}
.add-listing-tags .steps li.active:after{width:90%}

/*add listing tags css starts here*/
.add-tags strong{font-size:15px;line-height:1.2;color:#626161;display:block;padding-top:3px;padding-bottom:18px}
.add-box{width:57%;float:left}
.add-box label{width:42%}
.add-box input[type=text]{width:38%;margin-left:2.5%}
.add-box button[type=button]{border-radius:10px;margin-left:8px;padding-left:11px;padding-right:11px;text-align:center; padding-top:8px; height:33px;}
.added-box{background:#FFF;border:2px solid #D2E5F4;margin-right:10%;min-height:224px;padding:12px;width:90%}
.added-box li{font-size:13px;line-height:1.2;font-weight:400;padding-bottom:12px}
.added-box-outer{width:40%;float:right}
.add-listing-tags .next-prev,.add-listing-extras .next-prev,.add-listing-payment .next-prev{width:100%;text-align:right;padding-top:30px}
.add-listing-tags button[type=button],.add-listing-extras button[type=button], .add-listing-payment button[type=button]{margin-left:10px;float:right}
.add-listing-tags .next-prev a,.add-listing-extras .next-prev a, .add-listing-payment .next-prev a {display:block;float:right;padding-top:12px}
.add-listing-tags .next-prev button[type=button].btn,.add-listing-tags .next-prev button[type=button]:hover,.add-listing-extras .next-prev button[type=button].btn,.add-listing-extras .next-prev button[type=button]:hover{/*font-size:14px;line-height:1.2;height:40px;padding-left:0;padding-right:0*/}
.add-listing-tags .next-prev a,.add-listing-extras .next-prev a{float:right;font-weight:700}

/*add listing extras css starts here*/
.add-tags strong span{font-style:italic;padding-left:15px;display:inline-block;font-size:15px;line-height:1.2}
.business-extras input[type=text]{width:60.3%}
.business-extras a {display:block;font-size:13px;line-height:1.2;color:#626161;padding-top:5px}
.business-extras a i {display:block;float:left;width:32px;height:32px;background:url(../images/sprite.png) no-repeat;background-position:0 -369px;margin-right:15px;margin-top:-6px}
.business-extras .row {margin-bottom:10px;}

.business-extras {padding-bottom:16px}
.add-listing-extras .next-prev{padding-top:15px}
.add-listing-extras .steps li.active:before{left:84%}
.add-listing-extras .steps li.active:after{width:90%}
.add-listing-payment .alerts{font-size:13px;line-height:1.2;color:#000}
.payment-amount-container {margin-top:20px;}
.payment-amount{width:35%;float:left;}
.payment-details strong, .payment-options strong{font-size:15px;line-height:1.2}

.payment-details.clearfix{margin-top:13px}
.online-payment label{width:100%; padding-left:40px; position:relative;}
.online-payment .ez-checkbox {position:absolute; left:0; top:22px;}
.online-payment label img{display:block;float:left}
.online-payment label input[type=checkbox]{}
.online-payment label{padding-top:17px;display:block}
.online-payment strong{padding-top:15px;display:block;width:100%;float:left;font-size:12px;line-height:1.2;padding-left:40px;padding-bottom:15px}
.online-payment p{font-size:12px;padding-left:40px;line-height:1.2}
.online-payment.paypal label input[type=checkbox]{}
.add-listing-payment .next-prev{padding-top:35px}

.code-verification {position:relative;}
.code-verification .btn {position:absolute; top:0;}
.payment-amount label{width:50%; position:relative; padding-left:40px; padding-top:7px;}
.payment-amount .ez-checkbox {position:absolute; top:0; left:0;}
.code-verification{width:65%;float:right;padding-top:2px}
.code-verification input[type=text]{height:30px;width:71%}
.code-verification span.alert{width:70%;float:left;background:#ffcece;color:#626161;font-size:12px;padding:2px;margin-top:10px}

.row:before,.row:after{content:" ";/* 1 */display:table/* 2 */}
.row:after{clear:both}
.row{zoom:1} /* For IE 6/7 only */
.categoryBox{float:left;width:48%;margin-right:4%;margin-bottom:35px}
.row.last .categoryBox {margin-bottom:0;}
.categoryBox.last{margin-right:0}
.categoryBox .categoryHeader{position:relative;padding-left:45px;margin-bottom:20px}
.categoryBox .categoryHeader .localTown{margin-left:0}
.categoryBox.featuredLocation h2{padding-left:0}
.categoryBox .categoryHeader img{position:absolute;top:50%;margin-top:-12px;left:0}
.categoryBox .categoryHeader i{display:none}
.categoryBox ul li{margin-bottom:5px}
.categoryBox .moreCategory{list-style:none;margin-top:20px}
@media all and (min-width:768px) {
	.categoryBox ul{display:block!important}
}
@media all and (max-width:768px) {
	.temporyWrapper{width:320px;max-width:100%}
	/* Don't include this class */.categoryBox{float:none;width:100%;margin-right:0}
	.categoryBox .categoryHeader{padding-right:40px}
	.categoryBox .categoryHeader i{display:block;width:22px;height:22px;background-image:url(../images/open-closed.png);background-position:-23px 0;position:absolute;right:0;top:50%;margin-top:-11px}
	.categoryBox .categoryHeader .open i{background-position:0 0}
	.categoryBox ul{display:none;padding-bottom:20px}
	.categoryBox ul li{margin-bottom:15px}
}

/*accordion css ends here*/
.home .categoryBox h2 a{color:#626161}
.home .categoryBox li a{color:#626161}
.home .categoryBox ul li.last{border-top:1px solid #EEEDED;margin-top:12px}
.home .categoryBox ul li.last a{color:#228FBB;display:block;padding-top:11px}
.categoryBox .categoryHeader img.lifestyle{margin-top:0}
.categoryBox .categoryHeader.travel{padding-left:0}
.search-page h3 span{font-weight:400}

/*dash board page css starts here*/
.dashboard-listings{float:left;width:100%;margin:0}
.dashboard-listings li{float:left}
.dashboard-listings li.new-business{float:right}
.dashboard-listings li.new-business a i{background:url(../images/sprite.png) no-repeat;background-position:0 -370px;width:32px;height:32px;display:block;margin-right:6px;float:left;margin-top:-5px}
.dashboard-listings li a{color:#464746;font-size:16px;font-weight:700;line-height:1.2;padding:12px 20px;display:block}
.dashboard-listings li a.selected{background:none repeat scroll 0 0 rgba(251,250,250,0.8);color:#228FBB}
.dashboard-box{padding-bottom:52px}
.dashboard-box h3{font-size:19px;line-height:1.2;color:#228FBB}
.dashboard-box h3{padding-top:12px;padding-bottom:18px}
.dashboard-box span{display:block;font-size:14px;padding-bottom:16px;line-height:1.2}
.dashboard-box li span{display:inline-block;color:#228fbb}
.dashboard-box li{font-size:14px;line-height:1.2;padding-bottom:14px}
.dashboard-box ul{padding-bottom:60px}
.dashboard-box > strong{font-size:19px;line-height:1.2;color:#228fbb}
.dashboard-box > strong + span{padding-bottom:3px}

/*account detail css starts here*/
.detail-box li label{font-size:14px;line-height:1.2;width:25.5%;padding-top:9px}
.detail-box ul{padding-top:11px}
.detail-box li input[type=email]{border:none;background:none;font-size:14px;line-height:1.2;color:#626161}
.detail-box li input, .detail-box li select {float:left;width:48.3%;font-size:14px;line-height:1.2;color:#626161;font-weight:700}
.dashboard-box .detail-box ul{padding-bottom:0}
.dashboard-box .detail-box.password h3{padding-top:5px}
.dashboard-box .detail-box.password ul{padding-top:0}
.password li.repeat-pwd{margin-top:-14px}
.password li label + label{width:auto}
.detail-box li label input{width:auto}
.detail-box li button[type=button],
.add-listing-add-business .uk-listing li button[type=button]{float:right;padding-left:18px;padding-right:30px;}
.affiliate-detail li .selectBox-dropdown{width:46%!important}
.cross-sell h3{font-size:14px;line-height:1.2;color:#626161;padding-top:0;padding-bottom:20px}
.cross-sell span{padding-top:4px}
.cross-sell span.promote{padding:0}
.cross-sell li{padding-bottom:0}

/*my listing css starts here*/
.table-data table{width:100%}
.table-data table tr th,.table-data table tr td{font-size:14px;line-height:1.2;font-weight:700;text-align:left;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;padding-left:5px;vertical-align:middle}
.table-data table tr td{font-weight:400}
.table-data table tr td:first-child,.table-data table tr th:first-child{border-left:1px solid #cdcdcd;vertical-align:middle}
.table-data{border-top:1px solid #cdcdcd}
.footable-sort-indicator{width:7px;height:9px;display:block;background:url(../images/sprite.png) no-repeat;background-position:-269px -2px;margin-right:5px;float:right}
.table-data table tr th{padding-top:5px;padding-bottom:5px}
.table-data table tr td a{display:block}

.grey{background:#f0f0ff}
.red{color:red}
.table-data table tr td{padding:5px 0;padding-left:5px}
.arrow-box a{width:28px;height:28px;display:block;background:url(../images/sprite.png) no-repeat;background-position:-41px -377px;float:left;margin-left:13px}
.pager-arrow{float:right}
.arrow-box a.next{background-position:-82px -377px}
.arrow-box span.text{display:inline-block;float:left;padding-top:4px}
.pager-arrow{padding-top:15px}
.arrow-box,.select-number{float:left;margin-left:13px}
.select-number .selectBox-dropdown{width:60px!important;min-width:0!important;line-height:0.5!important}
.select-number .selectBox-dropdown .selectBox-label{width:10px!important}
.my-listing .dashboard-box{padding-bottom:30px}
.my-listing .content{padding-bottom:35px}

.gallery-box li{float:left; margin-right:10px; margin-bottom:7px}
.gallery-box li img{padding:5px;border:1px solid #dedede; margin-bottom:5px;}
.opening-box span span{width:20%;float:left}
.opening-box span small{float:left}
.opening-box span{display:block;font-weight:700;font-size:12px;line-height:1.3}
.opening-box h2{margin-bottom:12px}
.opening-box{padding-bottom:25px}
.features .opening-box:last-child {padding-bottom:0;}
.adds-box{padding-top:30px}

.payment-type li {float:left; margin:0 5px 8px 0;}

.headertitle {font-weight: bold; font-size: 24px; color: rgb(34, 143, 187); padding: 0px 0px 10px; margin-bottom: 10px; border-bottom: 1px solid rgb(238, 237, 237);}

.companyheadline {padding-top:19px;border-bottom:1px solid #dedede}
.companyheadline h1.title,.companyheadline h1.title a {font-weight: bold; font-size: 24px; color:rgb(34, 143, 187); text-decoration: none;}
.companyheadline .companyImage {width:30%; float:left;}
.companyheadline .companyDetails {width:65%; float:right;}
.companyheadline address{font-size:14px;line-height:1.4;padding-right:48%;display:block}
.companyheadline .companyRating {width:18%; min-width:105px; float:left; margin-top:45px;}
.companyheadline .rating-text {font-size:12px; width:50%; float:left; margin-top:48px;}
.companyheadline a.report {display:block;float:right;font-size:11px;line-height:1.2;font-weight:700;padding-bottom:5px}

.classification {position: relative; width: 91px; height: 17px;}
.classification .cover {position: absolute; background: transparent url(/assets/images/stars.png) top left no-repeat; top:0px; left:0px; width:91px; height:17px; z-index:101;}
.classification .progress {position: absolute; background: transparent url(/assets/images/stars_full.png) top left no-repeat; top:0px; left:0px; height:17px; z-index:102;}

.rating{width:80px; height:16px; margin:0 0 0 0; padding:0; list-style:none; clear:both; position:relative; background: url(/assets/images/star-matrix.gif) no-repeat 0 0;}

.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}
ul.rating li {cursor: pointer; float:left;text-indent:-999em;}
ul.rating li a {position:absolute; left:0; top:0; width:16px; height:16px; text-decoration:none; z-index: 200;}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {z-index:2; width:80px; height:16px; overflow:hidden; left:0;	 background: url(/assets/images/star-matrix.gif) no-repeat 0 0}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}
/* end rating code */

.visit-site strong{display:block;font-size:15px;line-height:1.2;padding-bottom:23px}
.contact-info strong a,.contact-info strong span{display:block;font-size:12px;line-height:1.2;font-weight:700}
.contact-info strong span a{display:inline-block}
.contact-info{padding-top:22px;padding-bottom:21px}

.contact-info h4 {font-size: 15px; font-weight: bold; margin-bottom: 5px;}
.contact-info ul.contact li {margin-bottom:20px;}
.contact-info ul.contact li span {font-weight:bold; margin-bottom:5px;}
.contact-info ul.contact li a {font-size:12px; font-weight: bold;}

.contact-info strong a{padding-top:2px}
.contact-info .social  {margin-bottom:10px}
.contact-info .social li a{width:39px;height:45px;display:block;background:url(../images/sprite.png) no-repeat;background-position:-4px -407px}
.contact-info .social li.tweeter a{background-position:-51px -407px}
.contact-info .social li.linkedIn a{background-position:-97px -407px}
.contact-info .social li.google a{background-position:-144px -407px}
.contact-info .social li.pinterest a{background-position:-190px -407px}
.contact-info .social li.you-tube a{background-position:-237px -407px}
.contact-info .social li a:hover{background-position:-4px -453px}
.contact-info .social li.tweeter a:hover{background-position:-51px -453px}
.contact-info .social li.linkedIn a:hover{background-position:-97px -453px}
.contact-info .social li.google a:hover{background-position:-144px -453px}
.contact-info .social li.pinterest a:hover{background-position:-190px -453px}
.contact-info .social li.you-tube a:hover{background-position:-237px -453px}
.contact-info .social li{float:left;margin-left:8px}
.contact-info .social li:first-child{margin-left:0}

strong.connect{padding-bottom:4px}
#localSection .about-organisation h3,#localSection .organisation-products h3{font-size:12px;line-height:1.2;border-bottom:1px solid #dedede;color:#228fbb;padding-bottom:2px}
.about-organisation p{font-size:12px;line-height:1.5;padding-top:21px}
.login-section{float:right}
.login-section li{font-size:14px;line-height:1.2;float:left;border-left:1px solid #8c8c8c;padding-left:7px;margin-left:7px}
.login-section li a{font-size:14px;line-height:1.2}
.login-section li:first-child{border-left:none}

.organisation-products{padding-top:39px}
.products-list p {font-size:12px;font-weight:700;line-height:1.2;padding-right:10px;padding-top:5px}

.social-like li{float:left;margin-right:4px}
.social-like{padding-top:30px;padding-bottom:6px}
.social-like li.google-plus{padding-left:30px}
.social-like li.share-plus{padding-left:30px}

.reviewed{display:block;float:right;font-size:11px;font-weight:700;line-height:1.2;padding-top:2px}
.customer-reviews {margin-top:30px;}
.customer-reviews h2{padding-top:23px;color:#228fbb;padding-bottom:8px}
.review-one img{float:left}
.review-description span{display:block;font-size:12px;font-weight:700;line-height:1.2;margin-top:-13px}
.review-description span i{background:url(../images/sprite.png) no-repeat;width:17px;height:16px;background-position:-132px -381px;display:block;float:left;margin-right:2px}
.review-description{width:81%;float:right}
.review-description span span{margin-left:20px;display:block;float:left}
.review-description small{display:block;font-size:12px;line-height:1.2;color:#228fbb;padding-top:19px}
.review-description p{font-size:12px;line-height:1.2}
.review-one,.leave-review{margin-top:14px;padding:40px 20px 20px 31px}
.review-description span span{margin-top:0}
.review-description p{padding-top:6px;line-height:1.3}
.review-description .classification {float:left; width:100px;}
.review-description .rating-text {float:left; width:185px; font-weight:bold; font-size:12px; margin-top:1px;}
.leave-review-content-box h2,.leave-rating h2{padding-top:2px;font-size:20px;line-height:1.2;color:#626161}
.leave-review{padding-top:16px;padding-left:10px;padding-right:11px}
.review-input{width:30%;float:left}
.leave-review-content-box .review-input input[type=text],.leave-review-content-box .review-input input[type=email]{width:100%;margin-bottom:10px;font-size:12px;line-height:1.2;font-weight:700;color:#626161}
.review-textarea{width:64%;float:right}
.review-textarea textarea{width:100%;height:169px}
.leave-review-content-box .review-input input[type=text]:hover,.leave-review-content-box .review-input input[type=email]:hover{color:#bababa}
.leave-rating strong{font-size:14px;line-height:1.2;font-weight:700;display:inline-block;padding-top:20px}
.leave-rating strong span{}
.leave-rating strong span i{width:17px;height:18px;display:block;background:url(../images/sprite.png) no-repeat;background-position:-290px -1px;float:right}
.leave-rating strong strong{width:170px;float:left;padding-top:0}
.leave-rating{width:100%;padding-right:50%;position:relative;padding-bottom:56px}
.leave-rating h2{}
.leave-rating button[type=button]{float:right;position:absolute;bottom:0;right:0;border:1px solid #538312;background:#7bb52d;background:0 to(#518010));background:0;background:0;background:0;background:0;background:linear-gradient(#7bb52d,#518010);-pie-background:linear-gradient(#7bb52d,#518010);behavior:url(PIE.htc);padding-left:0;padding-right:0;padding-top:5px;padding-bottom:5px;height:31px;width:30%}
.leave-rating button[type=button] i{width:13px;height:13px;display:block;background:url(../images/sprite.png) no-repeat;background-position:-272px -26px;right:31px}
.leave-rating button[type=button]:hover{border:1px solid #727472}

.commentheader {font-weight:bold; font-size:24px; color:#fff; margin:20px 0;color:#228fbb;}
.commentbox, #leaveareplybox {padding:10px;clear:both;}
#commentNewErrors {background-color:#ffafaf;}
#commentNewErrors ul {list-style-type:none;padding:5px;}
#commentNewErrors ul li {list-style-type:none;padding:5px;font-weight:bold;}

table.commenttable {width:100%;}
table.commenttable tr th {color:#228FBB;padding:10px;width:100px;}
table.commenttable tr td {padding:10px;}
table.commenttable tr th .username {display:block;margin-top:5px;}
table.commenttable tr.response {background-color:#e3ecf1;}

table.ratingbox {margin-bottom:5px;}
table.ratingbox td {padding:0;font-weight:bold;vertical-align:middle;}
.rating-text {float:left;}
.commentbox .date {clear:both;color:#228FBB;margin-bottom:5px;}

#leaveareplybox td {vertical-align: top;}
#leaveareplybox .header { font-weight:bold;font-size:20px;margin:5px 0 10px 0; }
#leaveareplybox input, #leaveareplybox textarea {border:2px solid #caddeb;padding:4px 15px;color:#626161;font-weight:bold;}
#leaveareplybox input[type="text"] {width:75%;}
#leaveareplybox input{margin-bottom:10px;}
#leaveareplybox textarea {width:350px;height:150px; margin-bottom:10px;}

table.ratingtable th { text-align:left; width:150px; font-size:14px; font-weight:bold; padding:5px; vertical-align:top;}
table.ratingtable td { text-align:left; padding:5px;}

.white-popup-block li button[type=button]{padding-left:0;padding-right:0;width:23%}

.free .uk-business{padding-bottom:14px}
.free-add-listing .offers .free{margin-top:15px}
.free-add-listing .offers .free:first-child{margin-top:0}
.free-add-listing .upgrade-box .uk-business{display:inline-block}
.free-add-listing .featured-list-container li small{padding-right:0}
.free-add-listing .free.upgrade-box .featured-list-container .btn.upgrade{float:right}
.free-add-listing .product-types {width:98%; margin-left:0!important; margin-bottom:20px;}
.free-add-listing  select {float:right}

.offer-box{width:32%;float:left}

.upgrade-box .example-box .price {font-size:30px;line-height:1.2;color:#626161; font-weight:bold;}

.home .categoryBox li.localTown a{color:#228fbb}
.home .categoryBox li.localTown{font-size:16px;line-height:1.2;font-weight:700;margin-top:-15px;padding-bottom:15px}
.contact-robot{background:#080808;padding:5px 20px;border-radius:10px;color:#fff;position:absolute;left:0;right:0;margin:0 auto;width:30%;text-align:center;bottom:-35px}
.local-town-listing .categoryBox ul li a{color:#626161}
.categoryBox .categoryHeader a{font-size:16px;line-height:1.2;color:#626161}
.local-town-listing .categoryBox ul li.moreCategory a{color:#228fbb}
.search-login{display:none}
body.login-menu{display:block;margin-left:-80%;width:100%}
.login-menu .nav-bar{left:20%}
.nav-bar{background:#555;width:80%;position:fixed;right:-80%;top:0;height:100%;border:none;overflow:auto;margin:0; z-index:20;padding:25px 6%/*	left:100%;*/}
.nav-bar li{font-size:15px;line-height:1.2;color:#fff;font-weight:700;padding-top:10px;border-bottom:1px solid #838383;padding-bottom:10px}
.nav-bar li:last-child {border-bottom:0;}
.nav-bar li a{color:#fff}
.nav-bar li a:hover,.nav-bar li a.active{color:#adadad;text-decoration:none}
.nav-bar .closeMBtn {height:28px; width:28px; background-image:url('../images/closeMBtn.png'); display:block; position:absolute; top:20px; right:20px; cursor:pointer;}
.nav-bar ul {padding-right:40px;}
.search-directory .listed{font-size:12px;line-height:1.2;color:#fff;font-weight:700;display:block;float:right;margin-top:-28px;text-shadow:0 1px 1px #657d00;text-transform:uppercase;text-decoration:none; border:none;border-radius:10px;padding:5px 10px;display:none}
.forgotten-password-page .uk-listing h2.iforgot,.iselect,.i-code-heading, .iheading, .about-organisation h3 i,.breadcrumb li.back,.directory-listing i,.filter,.business-description,.conference,.featured-tab{display:none}
.code-verification span.alert{display:block}
.i-see-features,.add-listing-register .uk-listing h2 i{display:none}

.add-listing-register .offers .featured-list-container li.upgrade{background:none;padding-left:0}
.add-listing-register .offers .featured-list-container li.upgrade button[type=button] i{background-position:-125px -49px;position:absolute;right:-18px}
.add-listing-register .offers .featured-list-container li.upgrade button[type=button]{padding-left:0;padding-right:0;position:relative;width:55%}
.add-listing-register .offers .featured-list-container button[type=button].get-all{display:none}
.add-listing-register .offers .featured-list-container button.get-all[type=button] span{font-size:25px;line-height:1.2;display:inline}

.logo-optional a.btn{float:none;display:inline-block;font-size:14px;line-height:1.2}

/* Contact us */
.contact-us h2 {font-weight: bold; font-size: 24px; color: #228fbb; padding: 0 0 10px 0; margin-bottom: 10px; border-bottom: 1px solid #eeeded;}
.contact-us .btn {float:right; margin-top:20px; margin-bottom:20px;}

/* Listing Table */
.dashboard-box table span{padding-bottom:0}
.dashboard-box table{background:#fff}
.dashboard-box table tr th,.dashboard-box table tr td{font-weight:700;font-size:14px;line-height:1.2;color:#626161}
.dashboard-box table tr td{font-weight:400}

.openingtimes {border:none}
.openingtimes th {font-weight: bold; font-size: 15px; vertical-align:top; text-align: left;}
.openingtimes th, .openingtimes td{border-top:none}
.openingtimes th, .openingtimes td{border-left:none}
.openingtimes tr td{padding-bottom:15px!important;}
.openingtimes tr td label input[type=checkbox]{margin-top:-2px;margin-right:5px}
.openingtimes {width:100%}
.openingtimes tr td{font-size:15px;line-height:1.2;font-weight:700; vertical-align:top; }
.openingtimes tr td select {width:auto;}
.openingtimes tr td label{width:100%;font-size:15px;line-height:1.2}
.start-time > div{margin-left:6px}
.timings .start-time > div{float:left}

.premium-listing .quick-way strong{color:#a9d400}
.international-listing .quick-way strong{color:#1c8bb6}